.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1103.3em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.Phone:before {
      background-position: 0em 0em;
      width: 1.488em;
      height: 1.5531000000000001em;
  }




  .icon.arrow-down:before {
      background-position: 0em -1.6em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -14.5em;
      width: 28.4929em;
      height: 28.4929em;
  }




  .icon.arrow-left:before {
      background-position: 0em -43em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right:before {
      background-position: 0em -90.8em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-simple-right:before {
      background-position: 0em -138.6em;
      width: 3.149em;
      height: 3.149em;
  }




  .icon.arrow-up:before {
      background-position: 0em -141.8em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.atom:before {
      background-position: 0em -148.2em;
      width: 4em;
      height: 4em;
  }




  .icon.cancel:before {
      background-position: 0em -152.2em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.checked:before {
      background-position: 0em -199.8em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.close:before {
      background-position: 0em -202.4em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.folder:before {
      background-position: 0em -207.9em;
      width: 4em;
      height: 4em;
  }




  .icon.garbage:before {
      background-position: 0em -211.9em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.heart:before {
      background-position: 0em -217.8em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -265em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.interface:before {
      background-position: 0em -313.7em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -362.8em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -411.9em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -457em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -505.4em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.phone-call:before {
      background-position: 0em -551.3em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.placeholder:before {
      background-position: 0em -598.7em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.play-round:before {
      background-position: 0em -646.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.service:before {
      background-position: 0em -697.6em;
      width: 4em;
      height: 4em;
  }




  .icon.share:before {
      background-position: 0em -701.6em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.smile-good:before {
      background-position: 0em -749.8em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -754.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-fb--color:before {
      background-position: 0em -805.3em;
      width: 11.2196em;
      height: 11.2196em;
  }




  .icon.soc-google:before {
      background-position: 0em -816.6em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -826.3em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -869.4em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -913.3em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-tw--color:before {
      background-position: 0em -922.9em;
      width: 11.2197em;
      height: 11.2197em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -934.2em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -975.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-vk--color:before {
      background-position: 0em -1026.5em;
      width: 11.2196em;
      height: 11.2196em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1037.8em;
      width: 2.5em;
      height: 1.7em;
  }




  .icon.star:before {
      background-position: 0em -1039.5em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.statistick:before {
      background-position: 0em -1088.6em;
      width: 1.2em;
      height: 1.3em;
  }




  .icon.subsc:before {
      background-position: 0em -1089.9em;
      width: 6.2em;
      height: 6.2em;
  }




  .icon.support:before {
      background-position: 0em -1096.1em;
      width: 4em;
      height: 3.8em;
  }




  .icon.triangle-arrow-left:before {
      background-position: 0em -1099.9em;
      width: 1.3em;
      height: 1.7em;
  }




  .icon.triangle-arrow-right:before {
      background-position: 0em -1101.6em;
      width: 1.3em;
      height: 1.7em;
  }





