.fz2 {
  font-size: 2px;
}
.fz4 {
  font-size: 4px;
}
.fz6 {
  font-size: 6px;
}
.fz8 {
  font-size: 8px;
}
.fz10 {
  font-size: 10px;
}
.fz12 {
  font-size: 12px;
}
.fz14 {
  font-size: 14px;
}
.fz16 {
  font-size: 16px;
}
.fz18 {
  font-size: 18px;
}
.fz20 {
  font-size: 20px;
}
.fz22 {
  font-size: 22px;
}
.fz24 {
  font-size: 24px;
}
.fz26 {
  font-size: 26px;
}
.fz28 {
  font-size: 28px;
}
.fz30 {
  font-size: 30px;
}
.fz32 {
  font-size: 32px;
}
.fz34 {
  font-size: 34px;
}
.fz36 {
  font-size: 36px;
}
.fz38 {
  font-size: 38px;
}
.fz40 {
  font-size: 40px;
}
.fz42 {
  font-size: 42px;
}
.fz44 {
  font-size: 44px;
}
.fz46 {
  font-size: 46px;
}
.fz48 {
  font-size: 48px;
}
.fz50 {
  font-size: 50px;
}
.fz52 {
  font-size: 52px;
}
.fz54 {
  font-size: 54px;
}
.fz56 {
  font-size: 56px;
}
.fz58 {
  font-size: 58px;
}
.fz60 {
  font-size: 60px;
}
.mt0 {
  margin-top: 0px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mr0 {
  margin-right: 0px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr35 {
  margin-right: 35px;
}
.mr40 {
  margin-right: 40px;
}
.mr45 {
  margin-right: 45px;
}
.mr50 {
  margin-right: 50px;
}
.mr55 {
  margin-right: 55px;
}
.mr60 {
  margin-right: 60px;
}
.mr65 {
  margin-right: 65px;
}
.mr70 {
  margin-right: 70px;
}
.mr75 {
  margin-right: 75px;
}
.ml0 {
  margin-left: 0px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml45 {
  margin-left: 45px;
}
.ml50 {
  margin-left: 50px;
}
.ml55 {
  margin-left: 55px;
}
.ml60 {
  margin-left: 60px;
}
.ml65 {
  margin-left: 65px;
}
.ml70 {
  margin-left: 70px;
}
.ml75 {
  margin-left: 75px;
}
.pt0 {
  pa-top: 0px;
}
.pt5 {
  pa-top: 5px;
}
.pt10 {
  pa-top: 10px;
}
.pt15 {
  pa-top: 15px;
}
.pt20 {
  pa-top: 20px;
}
.pt25 {
  pa-top: 25px;
}
.pt30 {
  pa-top: 30px;
}
.pt35 {
  pa-top: 35px;
}
.pt40 {
  pa-top: 40px;
}
.pt45 {
  pa-top: 45px;
}
.pt50 {
  pa-top: 50px;
}
.pt55 {
  pa-top: 55px;
}
.pt60 {
  pa-top: 60px;
}
.pt65 {
  pa-top: 65px;
}
.pt70 {
  pa-top: 70px;
}
.pt75 {
  pa-top: 75px;
}
.pb0 {
  pa-bottom: 0px;
}
.pb5 {
  pa-bottom: 5px;
}
.pb10 {
  pa-bottom: 10px;
}
.pb15 {
  pa-bottom: 15px;
}
.pb20 {
  pa-bottom: 20px;
}
.pb25 {
  pa-bottom: 25px;
}
.pb30 {
  pa-bottom: 30px;
}
.pb35 {
  pa-bottom: 35px;
}
.pb40 {
  pa-bottom: 40px;
}
.pb45 {
  pa-bottom: 45px;
}
.pb50 {
  pa-bottom: 50px;
}
.pb55 {
  pa-bottom: 55px;
}
.pb60 {
  pa-bottom: 60px;
}
.pb65 {
  pa-bottom: 65px;
}
.pb70 {
  pa-bottom: 70px;
}
.pb75 {
  pa-bottom: 75px;
}
.pr0 {
  pa-right: 0px;
}
.pr5 {
  pa-right: 5px;
}
.pr10 {
  pa-right: 10px;
}
.pr15 {
  pa-right: 15px;
}
.pr20 {
  pa-right: 20px;
}
.pr25 {
  pa-right: 25px;
}
.pr30 {
  pa-right: 30px;
}
.pr35 {
  pa-right: 35px;
}
.pr40 {
  pa-right: 40px;
}
.pr45 {
  pa-right: 45px;
}
.pr50 {
  pa-right: 50px;
}
.pr55 {
  pa-right: 55px;
}
.pr60 {
  pa-right: 60px;
}
.pr65 {
  pa-right: 65px;
}
.pr70 {
  pa-right: 70px;
}
.pr75 {
  pa-right: 75px;
}
.pl0 {
  pa-left: 0px;
}
.pl5 {
  pa-left: 5px;
}
.pl10 {
  pa-left: 10px;
}
.pl15 {
  pa-left: 15px;
}
.pl20 {
  pa-left: 20px;
}
.pl25 {
  pa-left: 25px;
}
.pl30 {
  pa-left: 30px;
}
.pl35 {
  pa-left: 35px;
}
.pl40 {
  pa-left: 40px;
}
.pl45 {
  pa-left: 45px;
}
.pl50 {
  pa-left: 50px;
}
.pl55 {
  pa-left: 55px;
}
.pl60 {
  pa-left: 60px;
}
.pl65 {
  pa-left: 65px;
}
.pl70 {
  pa-left: 70px;
}
.pl75 {
  pa-left: 75px;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
}
.fw8 {
  font-weight: 800 !important;
}
.red {
  color: #ec2b32;
}
.tar {
  text-align: right;
}
.up {
  text-transform: uppercase;
}
.w100 {
  width: 100%;
}
.header {
  padding: 15px 0px;
  font-family: 'Open Sans', sans-serif;
}
.header-item {
  text-transform: uppercase;
  margin-top: 10px;
}
.header i {
  font-size: 30px;
  color: #ec2b32;
  margin: 5px 10px;
  display: inline-block;
  float: left;
}
h1 {
  margin: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 3px solid #ec2b32;
  display: inline-block;
  padding-bottom: 5px;
}
.phone {
  font-size: 28px;
  font-weight: 600;
}
.long_dark {
  background: #404041;
  width: 100%;
}
.topmenu-navbar {
  background: #404041;
}
.topmenu-navbar i {
  color: #fff;
  font-size: 20px;
}
.topmenu {
  background: #404041;
  width: 100%;
}
.topmenu li {
  list-style: none;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}
.topmenu li a {
  color: #fff;
  width: 100%;
  padding: 15px;
  display: inline-block;
}
.topmenu li a:hover {
  text-decoration: none;
  color: #808583;
}
.topmenu li ul {
  opacity: 0;
  position: absolute;
  background: #404041;
  -webkit-transition: all 0.8s;
          transition: all 0.8s;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  z-index: 2000;
  visibility: hidden;
  width: 200px;
}
.topmenu li:hover ul {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
}
.topmenu .fa {
  color: #fff;
  font-size: 30px;
  float: right;
  margin: 10px;
  display: none;
}
ul {
  padding: 0;
  margin: 0;
}
.slider-long img {
  width: 100%;
}
.slider-sale {
  background: #e7e7e3;
  height: 330px;
  padding: 40px;
  text-align: center;
  font-family: Open Sans;
}
.slider .h2 {
  position: relative;
}
.slider .h2:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 60px;
  background: #ec2b32;
  bottom: -10px;
  left: 50%;
  margin-left: -30px;
}
.slider .price {
  font-weight: 400;
  color: #ec2b32;
  font-size: 50px;
  width: 100% !important;
}
.h2 {
  font-weight: 600;
  display: inline-block;
}
.p {
  display: inline-block;
}
.price {
  display: inline-block;
  width: 100%;
}
small {
  font-size: 22px;
}
.list-service-item {
  position: relative;
  margin-bottom: 20px;
}
.list-service img {
  width: 100%;
}
.list-service-head {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #ec2b32;
  padding: 10px;
  font-size: 12px;
}
.list-service-price {
  background: #404041;
  color: #fff;
  padding: 10px 15px;
  display: inline;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 25px;
  font-family: Open Sans;
}
.list-service-href {
  width: 100%;
  height: 250px;
  display: inline-block;
  background-size: cover !important;
}
.list-service-h2 {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  text-decoration: underline;
}
.sevice-page .list-service-head {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.mark-yellow {
  color: #f2e82a;
  font-weight: 600;
}
.about-sale {
  background: #ec2b32;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-family: Open Sans;
}
.about-sale .get {
  color: #fff;
  padding: 10px 20px;
  display: block;
  background: #bc2228;
  font-size: 10px;
  width: 40%;
  margin: 0px auto;
  margin-top: 10px;
}
.about .h2 {
  width: 100%;
  font-weight: 200;
}
.about p {
  color: #808583;
}
.about table {
  margin-top: 50px;
}
.about td {
  border: 0px !important;
  border-bottom: 1px solid #ddd !important;
}
.about td:nth-child(2) {
  color: #ec2b32;
  text-align: center;
}
.about td:nth-child(2) {
  color: #ec2b32;
  text-align: center;
}
.about tr {
  background: #f7f7f6;
}
.advant-item img {
  display: block !important;
  margin: 20px auto;
  width: 85px;
}
.advant-item p {
  color: #808583;
  text-align: center;
}
.advant-item .h2 {
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.footer {
  background: #404041;
  padding: 30px;
  text-align: right;
  margin-top: 40px;
}
.footer-item span {
  color: #fff;
}
.footer-item:nth-child(1) {
  text-align: left;
}
.footer .grey {
  color: #808583;
}
.footer .phone {
  color: #ef555b;
  width: 100%;
  display: inline-block;
  padding: 5px 0px;
}
.footer ul {
  list-style-type: none;
  text-align: left;
  margin-top: 20px;
}
.footer ul li {
  float: left;
}
.footer ul li a {
  padding: 5px 10px;
  text-transform: uppercase;
  color: #808583;
}
.table-price {
  font-family: Open Sans;
}
.table-price tr td:nth-child(1) {
  font-size: 20px;
  width: 60%;
}
.table-price tr a {
  background: #f2e82a;
  padding: 5px 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.table-price tr .red {
  color: #ec2b32;
  font-size: 26px;
  font-weight: 600;
}
.mainpage .left {
  margin-top: 20px;
  padding: 20px;
  padding-top: 0;
  font-family: Open Sans;
}
.mainpage .left-call {
  background: #58a36b;
  padding: 20px 30px;
  color: #fff;
  font-size: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  Justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainpage .left-call i {
  color: #fff;
  font-size: 44px;
  float: left;
  padding-right: 20px;
}
.mainpage .left-service {
  padding: 20px;
}
.mainpage .left-service a {
  font-size: 13px;
  text-decoration: underline;
}
.mainpage .left-service li {
  list-style: none;
}
.mainpage .left-news {
  padding: 20px;
  padding-top: 0;
}
.mainpage .left-news p {
  font-size: 10px;
  color: #808583;
}
.mainpage .left-news-item {
  margin-top: 20px;
  width: 100%;
}
.mainpage .left-news-item img {
  width: 35%;
  float: left;
  margin-right: 10px;
}
.mainpage .left-news-item-text {
  line-height: 0px;
  font-size: 11px;
  font-weight: 600;
  font-family: Open Sans;
}
.mainpage .left-news-image {
  width: 100%;
  height: 100px;
  background-size: cover;
}
.mainpage .left .dayprice {
  padding: 20px;
  background: #e7e7e3;
}
.mainpage .left .dayprice-head {
  width: 100%;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 26px;
  border-bottom: 1px solid #d4d4d4;
  font-weight: 600;
}
.mainpage .left .dayprice-value {
  font-size: 50px;
  color: #ec2b32;
  font-weight: 600;
}
.mainpage .left .dayprice-value small {
  font-size: 16px;
  color: #000;
}
.h4 {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
.clear {
  clear: both;
}
.take {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  background: #ec2b32;
  margin-top: 20px;
}
.right-content {
  padding: 20px 40px;
  font-family: Open Sans;
}
.right-content >p {
  color: #808583;
}
.right-content ul {
  padding-left: 20px;
  margin: 10px;
}
.right-content ul li {
  margin-bottom: 10px;
}
.right .table_price {
  margin: 30px 0px;
}
.right .table_price tr:nth-child(1) p {
  color: #000;
  font-size: 14px;
}
.right .table_price tr {
  border-bottom: 1px solid #e7e7e3;
  vertical-align: middle;
}
.right .table_price tr td:nth-child(1) {
  font-size: 12px;
}
.right .table_price tr td:nth-child(2) {
  color: #ec2b32 !important;
  font-weight: 600;
  font-size: 16px;
  width: 20%;
}
.right .table_price tr td:nth-child(3) {
  width: 10%;
}
.right .table_price tr p {
  margin: 0;
  padding: 5px;
}
.right-head {
  margin-top: 20px;
  background-image: url("../img/right-top.jpg");
  width: 100%;
  padding: 40px;
  padding-bottom: 60px;
}
.right-head h1 {
  border: 0px;
  color: #fff;
  width: 100%;
}
.right-head-sale {
  background: #f2e82a;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-left: 20px;
  display: inline-block;
}
.right-head-allprice {
  float: right;
}
.right-head-allprice a {
  color: #fff;
  text-decoration: underline;
  display: inline-block;
  text-transform: uppercase;
}
.right-head-allprice i {
  color: #fff;
  font-size: 26px;
  margin: 10px;
}
.logo img {
  width: 235px;
  margin-top: -15px;
}
form input,
form textarea {
  border: 0px;
  padding: 20px 0px;
  width: 100% !important;
}
form input {
  border-bottom: 1px solid #e7e7e3;
}
form textarea {
  background: #e7e7e3;
  padding: 20px;
}
form input[type=submit] {
  background: #f2e82a;
  text-transform: uppercase;
}
.symbol img {
  width: auto;
  margin: 0 auto;
  display: block;
}
.owl-carousel img {
  width: 100%;
}
.news-page-item {
  margin-bottom: 20px;
}
.news-page .left-news-item {
  box-shadow: 0px 0px 2px #e7e7e3;
  padding: 20px;
}
.news-page .left-news-item-text {
  font-size: 20px;
  margin: 10px 0px;
  display: block;
  line-height: 20px;
}
.news-page p {
  font-size: 14px !important;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans-regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
