// Helper for the grid align top
make-row-helpers($breakpoint)
  .row--{$breakpoint}-top
    align-items: flex-start
  .row--{$breakpoint}-center
    align-items: center
  .row--{$breakpoint}-bottom
    align-items: flex-end

// Helper for the sorting the first item
make-col-helpers($breakpoint)
  .col--{$breakpoint}-align-top
    align-self: flex-start
  .col--{$breakpoint}-align-center
    align-self: center
  .col--{$breakpoint}-align-bottom
    align-self: flex-end

  .col--{$breakpoint}-first
    order: -1
  .col--{$breakpoint}-reset
    order: 0
  .col--{$breakpoint}-last
    order: 1
  .row--{$breakpoint}-reverse
    flex-direction: row-reverse
  .col--{$breakpoint}-flex
    display: flex

// Helper for aligning the text
make-text-helpers($breakpoint)
  .text--{$breakpoint}-right
    text-align: right
  .text--{$breakpoint}-left
    text-align: left
  .text--{$breakpoint}-center
    text-align: center

// Helper wrapper
make-helpers($breakpoint)
  make-row-helpers($breakpoint)
  make-col-helpers($breakpoint)
  make-text-helpers($breakpoint)

// add

.hidden
	display none !important

.hide
	display none

.show
	display block !important

.invisible
	visibility hidden

.tr
	transition all .4s

.tr--bg
	transition background .4s

.tr--color
	transition color .4s

.tr--fill
	transition fill .4s

.msg
	padding: 8px 16px
	br(10px)

.cp
	cp()

.bg-full
	bg-full()

// fix iphone input bug
@media screen and (-webkit-min-device-pixel-ratio:0)
	select:focus,
	textarea:focus,
	input:focus
		font-size: 16px;
		background: #eee;

@media screen and (-webkit-min-device-pixel-ratio:0)
	select,
	textarea,
	input
		font-size: 16px!important
// fix iphone input bug === end
// add === end