// xl - 1280
// lg - 1024
// md - 768
// sm - 640


//$windowSize = (xl lg md sm)
$windowSize = ("xl" 1280),\
							("lg" 1024),\
							("md" 768),\
							("sm" 640)

//Extends size
$listExtend = (4),\
							(8),\
							(10),\
							(12),\
							(16),\
							(24 16),\
							(32 24),\
							(40 28),\
							(48 32 24),\
							(60 38 28),\
							(64 48 32),\
							(80 64 32),\
							(100 64 32),\

//Grid gap size
$gridGap = (4),\
					(8),\
					(12),\
					(16),\
					(20 16),\
					(24 16),\
					(32 24)

$listType = ("xs" 12 10),\
						("sm" 14 12),\
						("main" 16 16),\
						("md" 20 18),\
						("mdx" 24 20),\
						("lg" 32 24),\
						("lgx" 44 32),\
						("xl" 64 44)

//Icon size
$listIcon = ("xs" 12),\
						("sm" 16),\
						("md" 24),\
						("lgx" 44),\
						("xl" 64),\
						("xxl" 80)


//Border radius
$listBr = (4 8 12 16)

//Font weight
$listFw = ( 400 500 700 )

//width-max container size
$listWmax = (320 500)

//color
$mark = #2F7FE6
$typeMain = black
$typePrimary = #767676
$white = white
$snow = #F6F8FB


$colors = {
	'mark':$mark,
	'typePrimary':$typePrimary,
	'white':$white,
	'snow':$snow,
}
