// FLEX
.fw
	flex-wrap wrap

.f-col
	flex-direction column

.f-row
	flex-direction row

.f-mid
	align-items center
	justify-content center

.f-between
	align-items center
	justify-content space-between

.f-aic
	align-items center

.f-aife
	align-items: flex-end

.f-aifs
	align-items: flex-start

.f-asfs
	align-self: flex-start

.f-asfe
	align-self: flex-end

.f-asc
	align-self: center

.f-jcsb
	justify-content space-between

.f-jcc
	justify-content center

.f-jcfe
	justify-content flex-end

.f-jcfs
	justify-content flex-start

.f-grow
	flex-grow 1

// FLEX === end


// Display
.f
	display: flex

.g
	display: grid

.g-afc
	grid-auto-flow column

.g-afr
	grid-auto-flow row

.dif
	display: inline-flex

.db
	display block

.di
	display: inline

.dib
	display inline-block

.dig
	display inline-grid

.pos-r
	position relative

.pos-a
	position absolute

.pos-f
	position: fixed

// Display === end


