@import 'rupture'
@import "variable/_constant.styl"
@import "variable/_function.styl"
@import "variable/_ie.styl"

/* -------------- style for sprite --------------*/
@import "icon/sprite.css"

/* -------------- style for font-icon --------------*/
@import "icon/style.css"

/* -------------- style for reset --------------*/
@import "variable/_default.styl"

/* -------------- style for elements --------------*/
@import "variable/_element.styl"

/* -------------- style for fonts --------------*/
@import "variable/_fonts.styl"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

/* -------------- style basic --------------*/
body
	font-size 12px
	font-family PT Sans


/* -------------- style from include block --------------*/
@import "include/*"



