@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-700.woff2") format('woff2'), url("../fonts/MuseoSansCyrl-700.woff") format('woff');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-300.woff2") format('woff2'), url("../fonts/MuseoSansCyrl-300.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format('woff2'), url("../fonts/OpenSans-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
.clear {
  clear: both;
}
.align-image-center {
  text-align: center;
}
.fluid-image {
  max-width: 100%;
  height: auto;
  display: block;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.f-none {
  float: none;
}
.type--up {
  text-transform: uppercase;
}
.type--italy {
  font-style: italic;
}
.type--center {
  text-align: center;
}
.type--left {
  text-align: left;
}
.type--right {
  text-align: right;
}
.disabled,
.btn--disable,
.style-label--disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.all-page__el {
  width: 32%;
  padding: 5px;
  box-shadow: 0px 3px 8px #e3e3e3;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .all-page__el {
    width: 100%;
    margin-bottom: 20px;
  }
}
.all-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.elements-hr {
  margin: 40px 0;
  display: block;
  height: 1px;
  border-bottom: 1px solid #d1d1d1;
}
.all-page__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #000;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.all-page-color {
  display: flex;
  flex-wrap: wrap;
}
.all-page-color__el {
  margin: 20px;
}
.all-page-color__block {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.all-page-color__el-name {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.element-list-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.element-list-svg__icon {
  width: 12%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.element-list-svg__icon .icon-el {
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  animation: slideInDown 1s 1 ease-in-out;
}
@-moz-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  text-decoration: none;
  color: $link-color-hover;
}
.type--bold {
  font-weight: $weigh-bold;
}
img,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
.small-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .small-only {
    display: table;
  }
}
@media only screen and (max-width: 768px) {
  .large-only {
    display: none;
  }
}
.bold {
  font-weight: $weigh-bold;
}
.kss-section {
  max-width: 100% !important;
}
.linenums {
  padding: 20px 40px !important;
}
.kss-title {
  margin-bottom: 40px !important;
}
.kss-modifier__example {
  padding: 10px !important;
  box-shadow: 1px 1px 10px #d8d8d8;
}
.rub {
  font-family: 'RUB';
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url("../fonts/MuseoSansCyrl.woff") format('woff'), font-weight 'normal';
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url("../fonts/MuseoSansCyrl.woff") format('woff'), font-weight 'normal';
  font-style: normal;
}
.type--xs {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--xs {
    font-size: 10px;
  }
}
.type--sm {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--sm {
    font-size: 12px;
  }
}
.type--main,
p,
body {
  font-size: 15px;
  font-family: 'Open Sans';
}
@media only screen and (max-width: 768px) {
  .type--main,
  p,
  body {
    font-size: 13px;
  }
}
.type--md,
h5 {
  font-size: 18px;
  font-family: "Museo Sans Cyrl";
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .type--md,
  h5 {
    font-size: 15px;
  }
}
.type--xlg,
h4 {
  font-size: 22px;
  font-family: "Museo Sans Cyrl";
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .type--xlg,
  h4 {
    font-size: 18px;
  }
}
.type--lg,
h3 {
  font-size: 30px;
  font-family: "Museo Sans Cyrl";
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .type--lg,
  h3 {
    font-size: 24px;
  }
}
.type--xl,
h2 {
  font-size: 40px;
  font-family: "Museo Sans Cyrl";
}
@media only screen and (max-width: 768px) {
  .type--xl,
  h2 {
    font-size: 28px;
  }
}
.type--xxl,
h1 {
  font-size: 55px;
  font-family: "Museo Sans Cyrl";
}
@media only screen and (max-width: 768px) {
  .type--xxl,
  h1 {
    font-size: 32px;
  }
}
.type--bold {
  font-weight: bold;
}
a {
  color: #2f81e6;
  transition: all 0.4s;
}
a:hover {
  color: #ef393f;
}
a:visiter {
  color: #ef393f;
}
.link--mark {
  color: #2f81e6;
}
.link--mark:hover {
  color: #13509c;
}
.link--mark:visiter {
  color: #0d396f;
}
.link--main {
  color: #111;
  border-bottom: #2f81e6 solid transparent;
}
.link--main:hover {
  border-bottom: #2f81e6 solid;
}
.link--main:hover {
  color: #000;
}
.link--main:visiter {
  color: #000;
}
.link--text {
  color: #2f81e6;
  text-decoration: underline;
}
.link--text:hover {
  text-decoration: none;
}
.btn,
.btn--sm,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--mark,
.btn--light,
.btn--light-dark,
.btn--grey,
.btn--dotted,
.btn--white {
  border-radius: 25px;
  transition: all 0.4s;
  display: inline-block;
  background: none;
  border: 0px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  font-size: 15px;
  font-weight: 400;
}
.btn:hover,
.btn--sm:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--mark:hover,
.btn--light:hover,
.btn--light-dark:hover,
.btn--grey:hover,
.btn--dotted:hover,
.btn--white:hover {
  cursor: pointer;
}
.btn--sm {
  font-size: 10px;
  padding: 5px 10px;
}
.btn--sm .nav-icon {
  width: 10px;
  height: 10px;
}
.btn--md {
  font-size: 15px;
  padding: 15px 35px;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
  }
}
.btn--mark {
  color: #fff;
  background: #2f81e6;
}
.btn--mark .nav-icon {
  fill: #fff;
}
.btn--mark:hover {
  background-color: #13509c;
  color: #fff;
}
.btn--mark:active {
  background-color: #13509c;
  color: #fff;
}
.btn--mark input[type="submit"] {
  border: 0;
}
.btn--mark .nav-icon {
  fill: #fff;
}
.btn--disable {
  border: 1px solid #d0d5e0;
  background-color: #fff;
  color: #000;
}
.btn--light,
.btn--light-dark {
  border: 1px solid #c6d0d9;
  background-color: #fff;
  color: #111;
}
.btn--light:hover,
.btn--light-dark:hover {
  border: 1px solid #2f81e6;
  color: #2f81e6;
}
.btn--light .nav-icon,
.btn--light-dark .nav-icon {
  fill: #3a90c8;
}
.btn--light-dark {
  background: none;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.3);
}
.btn--light-dark:hover {
  border: 1px solid #fff;
}
.btn--grey {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn--dotted {
  border: 1px dashed #d7d7d7;
  background-color: #fff;
  text-align: center;
}
.btn--white {
  border: 1px solid rgba(255,255,255,0.9);
  color: rgba(255,255,255,0.9);
}
.btn--white .nav-icon {
  fill: rgba(255,255,255,0.9);
}
.btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.btn--hover {
  transform: perspective(100px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  transition-property: color;
  transition-duration: 0.1s;
}
.btn--hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aaa;
  border-radius: 10%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
}
.btn--hover:hover,
.btn--hover:focus,
.btn--hover:active {
  color: #fff;
}
.btn--hover:hover:before {
  transform: scale(2);
}
.btn--hover:focus:before {
  transform: scale(2);
}
.btn--hover:active:before {
  transform: scale(2);
}
button {
  font-family: 'Open Sans', sans-serif;
}
.input,
.textarea,
.select {
  border-radius: 5px;
  padding: 20px 25px;
  border: 1px solid #d0d5e0;
  background: none;
  resize: none;
  outline: 0 !important;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  display: block !important;
  margin-bottom: 10px;
  transition: all 0.4s;
}
.input input::-webkit-input-placeholder,
.textarea input::-webkit-input-placeholder,
.select input::-webkit-input-placeholder {
  color: #888;
}
.input input::-moz-placeholder,
.textarea input::-moz-placeholder,
.select input::-moz-placeholder {
  color: #888;
}
.input input:-moz-placeholder,
.textarea input:-moz-placeholder,
.select input:-moz-placeholder {
  color: #888;
}
.input input:-ms-input-placeholder,
.textarea input:-ms-input-placeholder,
.select input:-ms-input-placeholder {
  color: #888;
}
.input:focus,
.textarea:focus,
.select:focus {
  border: 1px solid #2f81e6;
  box-shadow: 0 11px 8px rgba(47,129,230,0.15);
}
.style-label {
  display: flex;
  position: relative;
  align-items: center;
}
.check-el input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.check-el .sytle-input-element {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #d0d5e0;
  border-radius: 5px;
  transition: all 0.4s;
}
.check-el .sytle-input-element:hover {
  cursor: pointer;
}
.check-el .sytle-input-element:hover {
  border: 1px solid #2f81e6;
}
.check-el .icon-check {
  display: none;
}
.check-el .sytle-input:checked ~ .sytle-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.check-el .sytle-input:checked ~ .sytle-input-element .icon-check {
  display: block;
  fill: #2f81e6;
  width: 16px;
  height: 16px;
}
.style-label--radio input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.style-label--radio .sytle-input-element {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #d0d5e0;
  border-radius: 50%;
}
.style-label--radio .sytle-input-element:hover {
  cursor: pointer;
}
.style-label--radio .icon-check {
  display: none;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element .icon-radio {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #2f81e6;
}
/* block footer*/
/*block footer end */
.main-section-filter {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(10,10,10,0.4);
  width: 100%;
  height: 100%;
}
.header-logo {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  text-align: left;
}
.header-phone {
  text-transform: uppercase;
  font-size: 20px;
}
.header-phone a {
  color: #fff;
}
.main-section {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.61);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-section-cont {
  position: relative;
}
.main-section-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 5vw;
}
.header {
  background-color: rgba(0,0,0,0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header-logo {
  height: 40px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .header-logo {
    width: 100px;
  }
}
.header-logo img {
  width: 100%;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__el-link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .header-nav__el-link-wrap {
    border-bottom: 1px solid rgba(236,236,236,0.09);
  }
}
@media only screen and (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle .icon-el {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.menu-toggle .icon-el:hover {
  cursor: pointer;
}
.header-nav__el {
  font-size: 14px;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .header-nav__el {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1024px) {
  .header-nav__el {
    width: 100%;
    text-align: center;
    background: #808080;
    font-size: 14px;
  }
}
.header-nav__el .icon-el {
  width: 10px;
  height: 10px;
  fill: #fff;
  margin-left: 5px;
  transition: all 0.4s;
}
.header-nav__el:hover>.header-nav__sub {
  opacity: 1;
  visibility: visible;
}
.header-nav__el:hover .header-nav__sub {
  transform: translateY(0px);
}
@media only screen and (min-width: 1024px) {
  .header-nav__el:hover .icon-el {
    transform: rotate(-180deg);
  }
}
.header-nav__el-link {
  padding: 30px 0;
  display: inline-block;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .header-nav__el-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .header-nav__el-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4d4d4d;
    width: 60px;
    height: 60px;
  }
  .header-nav__el-icon:hover {
    cursor: pointer;
  }
  .header-nav__el-icon .icon-el {
    width: 15px;
    height: 15px;
  }
}
.header-nav {
  width: 60%;
  justify-content: space-around;
}
@media only screen and (max-width: 1024px) {
  .header-nav {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    flex-wrap: wrap;
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .header-nav {
    display: flex !important;
  }
}
.header-nav__sub {
  transition: all 0.4s;
  transform: translateY(20px);
  position: absolute;
  width: 180px;
  top: 100%;
  left: 50%;
  margin-left: -90px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 1024px) {
  .header-nav__sub {
    transform: translateY(0px);
    position: initial;
    width: 100%;
    top: initital;
    left: initial;
    margin-left: 0px;
    border-radius: 0px;
    opacity: 1 !important;
    visibility: visible !important;
    transition: initial;
  }
  .header-nav__sub .window-coner-top {
    display: none;
  }
}
.header-nav__sub-wrap {
  position: relative;
  background: #fff;
}
.header-nav__sub--hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.header-nav__sub-el {
  transition: all 0.4s;
  padding: 20px;
  display: block;
  border-bottom: 1px solid #f7f6f6;
  z-index: 5;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .header-nav__sub-el {
    padding: 10px 0;
  }
}
.header-nav__sub-el:hover {
  background: #f0f0f0;
}
.header-nav__sub-el:last-child {
  border-bottom: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #262a34;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
