html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  text-decoration: none;
  color: $link-color-hover;
}
.type--bold {
  font-weight: $weigh-bold;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
.small-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .small-only {
    display: table;
  }
}
@media only screen and (max-width: 768px) {
  .large-only {
    display: none;
  }
}
.bold {
  font-weight: $weigh-bold;
}
.kss-section {
  max-width: 100% !important;
}
.linenums {
  padding: 20px 40px !important;
}
.kss-title {
  margin-bottom: 40px !important;
}
.kss-modifier__example {
  padding: 10px !important;
  box-shadow: 1px 1px 10px #d8d8d8;
}
.rub {
  font-family: 'RUB';
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT Sans.eot");
  src: url("../fonts/PT Sans.eot?#iefix") format('embedded-opentype'), url("../fonts/PT Sans.woff") format('woff'), url("../fonts/PT Sans.ttf") format('truetype'), url("../fonts/PT Sans.svg#PT Sans") format('svg');
  font-weight: 'normal';
  font-style: normal;
}
.type--xs {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--xs {
    font-size: 10px;
  }
}
.type--sm {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--sm {
    font-size: 12px;
  }
}
.type--main,
body {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  body {
    font-size: 14px;
  }
}
.type--lg {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .type--lg {
    font-size: 16px;
  }
}
.type--xl {
  font-size: 26px;
}
@media only screen and (max-width: 768px) {
  .type--xl {
    font-size: 18px;
  }
}
.btn,
.btn--sm,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--green,
.btn--green-light {
  text-transform: uppercase;
  border-radius: 4px;
  transition: all 0.4s;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #111;
  padding: 5px 10px;
  background: none;
}
.btn:hover,
.btn--sm:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--green:hover,
.btn--green-light:hover {
  cursor: pointer;
}
.btn--sm {
  font-size: 10px;
  padding: 5px 10px;
}
.btn--md {
  font-size: 12px;
  padding: 10px 20px;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
  }
}
.btn--green {
  background: #2ecc40;
  color: #fff;
  border: 1px solid #fff;
}
.btn--green:hover {
  background: #1b7926;
  color: #fff;
}
.btn--green-light {
  color: #2ecc40;
  border: 1px solid #2ecc40;
}
.btn--green-light:hover {
  color: #1b7926;
  border: 1px solid #1b7926;
}
button {
  font-family: PT Sans;
}
input,
textarea,
select {
  border: 0px;
  padding: 10px 15px;
  border: 1px solid #808080;
  resize: none;
  outline: 0 !important;
  border-radius: 4px;
  font-family: PT Sans;
  display: block !important;
  margin-bottom: 10px;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #2ecc40;
  box-shadow: 0 0 3px 1px rgba(46,204,64,0.45);
}
input::-webkit-input-placeholder {
  color: #111;
}
input::-moz-placeholder {
  color: #111;
}
input:-moz-placeholder {
  color: #111;
}
input:-ms-input-placeholder {
  color: #111;
}
.clear {
  clear: both;
}
.align-image-center {
  text-align: center;
}
.fluid-image {
  max-width: 100%;
  height: auto;
  display: block;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.f-none {
  float: none;
}
.type--up {
  text-transform: uppercase;
}
.type--italy {
  font-style: italic;
}
.type--center {
  text-align: center;
}
.type--left {
  text-align: left;
}
.type--right {
  text-align: right;
}
.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.all-page__el {
  width: 32%;
  padding: 5px;
  box-shadow: 0px 3px 8px #e3e3e3;
  margin-bottom: 30px;
}
.all-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.all-page__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 22px;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.section {
  padding: 90px 0px;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 30px 0;
  }
  .section .btn {
    width: 100%;
    text-align: center;
  }
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  animation: slideInDown 1s 1 ease-in-out;
}
@-moz-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.col {
  box-sizing: border-box;
  max-width: 100%;
  padding: 1rem 0.5rem 0 0.5rem;
}
.col--no-gutters {
  padding: 0;
}
.grid {
  box-sizing: border-box;
  padding: 0 0.5rem;
}
.grid--container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.grid--no-gutters {
  padding: 0;
}
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: -1rem -0.5rem 1rem -0.5rem;
  padding: 0;
}
.row:last-child {
  margin-bottom: 0;
}
.row--no-gutters {
  margin: 0;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.row--xs-top {
  align-items: flex-start;
}
.row--xs-center {
  align-items: center;
}
.row--xs-bottom {
  align-items: flex-end;
}
.col--xs-align-top {
  align-self: flex-start;
}
.col--xs-align-center {
  align-self: center;
}
.col--xs-align-bottom {
  align-self: flex-end;
}
.col--xs-first {
  order: -1;
}
.col--xs-reset {
  order: 0;
}
.col--xs-last {
  order: 1;
}
.row--xs-reverse {
  flex-direction: row-reverse;
}
.col--xs-flex {
  display: flex;
}
.text--xs-right {
  text-align: right;
}
.text--xs-left {
  text-align: left;
}
.text--xs-center {
  text-align: center;
}
.col--xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem 0.5rem 0 0.5rem;
}
.col--xs-1 {
  width: 8.333333333333334%;
}
.col--xs-2 {
  width: 16.666666666666668%;
}
.col--xs-3 {
  width: 25%;
}
.col--xs-4 {
  width: 33.333333333333336%;
}
.col--xs-5 {
  width: 41.66666666666667%;
}
.col--xs-6 {
  width: 50%;
}
.col--xs-7 {
  width: 58.333333333333336%;
}
.col--xs-8 {
  width: 66.66666666666667%;
}
.col--xs-9 {
  width: 75%;
}
.col--xs-10 {
  width: 83.33333333333334%;
}
.col--xs-11 {
  width: 91.66666666666667%;
}
.col--xs-12 {
  width: 100%;
}
.col--xs-offset-0 {
  margin-left: 0;
}
.col--xs-offset-1 {
  margin-left: 8.333333333333334%;
}
.col--xs-offset-2 {
  margin-left: 16.666666666666668%;
}
.col--xs-offset-3 {
  margin-left: 25%;
}
.col--xs-offset-4 {
  margin-left: 33.333333333333336%;
}
.col--xs-offset-5 {
  margin-left: 41.66666666666667%;
}
.col--xs-offset-6 {
  margin-left: 50%;
}
.col--xs-offset-7 {
  margin-left: 58.333333333333336%;
}
.col--xs-offset-8 {
  margin-left: 66.66666666666667%;
}
.col--xs-offset-9 {
  margin-left: 75%;
}
.col--xs-offset-10 {
  margin-left: 83.33333333333334%;
}
.col--xs-offset-11 {
  margin-left: 91.66666666666667%;
}
.col--xs-offset-12 {
  margin-left: 100%;
}
@media (min-width: 480px) {
  .row--sm-top {
    align-items: flex-start;
  }
  .row--sm-center {
    align-items: center;
  }
  .row--sm-bottom {
    align-items: flex-end;
  }
  .col--sm-align-top {
    align-self: flex-start;
  }
  .col--sm-align-center {
    align-self: center;
  }
  .col--sm-align-bottom {
    align-self: flex-end;
  }
  .col--sm-first {
    order: -1;
  }
  .col--sm-reset {
    order: 0;
  }
  .col--sm-last {
    order: 1;
  }
  .row--sm-reverse {
    flex-direction: row-reverse;
  }
  .col--sm-flex {
    display: flex;
  }
  .text--sm-right {
    text-align: right;
  }
  .text--sm-left {
    text-align: left;
  }
  .text--sm-center {
    text-align: center;
  }
  .col--sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
  }
  .col--sm-1 {
    width: 8.333333333333334%;
  }
  .col--sm-2 {
    width: 16.666666666666668%;
  }
  .col--sm-3 {
    width: 25%;
  }
  .col--sm-4 {
    width: 33.333333333333336%;
  }
  .col--sm-5 {
    width: 41.66666666666667%;
  }
  .col--sm-6 {
    width: 50%;
  }
  .col--sm-7 {
    width: 58.333333333333336%;
  }
  .col--sm-8 {
    width: 66.66666666666667%;
  }
  .col--sm-9 {
    width: 75%;
  }
  .col--sm-10 {
    width: 83.33333333333334%;
  }
  .col--sm-11 {
    width: 91.66666666666667%;
  }
  .col--sm-12 {
    width: 100%;
  }
  .col--sm-offset-0 {
    margin-left: 0;
  }
  .col--sm-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .col--sm-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .col--sm-offset-3 {
    margin-left: 25%;
  }
  .col--sm-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .col--sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col--sm-offset-6 {
    margin-left: 50%;
  }
  .col--sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col--sm-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .col--sm-offset-9 {
    margin-left: 75%;
  }
  .col--sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col--sm-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .col--sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .row--md-top {
    align-items: flex-start;
  }
  .row--md-center {
    align-items: center;
  }
  .row--md-bottom {
    align-items: flex-end;
  }
  .col--md-align-top {
    align-self: flex-start;
  }
  .col--md-align-center {
    align-self: center;
  }
  .col--md-align-bottom {
    align-self: flex-end;
  }
  .col--md-first {
    order: -1;
  }
  .col--md-reset {
    order: 0;
  }
  .col--md-last {
    order: 1;
  }
  .row--md-reverse {
    flex-direction: row-reverse;
  }
  .col--md-flex {
    display: flex;
  }
  .text--md-right {
    text-align: right;
  }
  .text--md-left {
    text-align: left;
  }
  .text--md-center {
    text-align: center;
  }
  .col--md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
  }
  .col--md-1 {
    width: 8.333333333333334%;
  }
  .col--md-2 {
    width: 16.666666666666668%;
  }
  .col--md-3 {
    width: 25%;
  }
  .col--md-4 {
    width: 33.333333333333336%;
  }
  .col--md-5 {
    width: 41.66666666666667%;
  }
  .col--md-6 {
    width: 50%;
  }
  .col--md-7 {
    width: 58.333333333333336%;
  }
  .col--md-8 {
    width: 66.66666666666667%;
  }
  .col--md-9 {
    width: 75%;
  }
  .col--md-10 {
    width: 83.33333333333334%;
  }
  .col--md-11 {
    width: 91.66666666666667%;
  }
  .col--md-12 {
    width: 100%;
  }
  .col--md-offset-0 {
    margin-left: 0;
  }
  .col--md-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .col--md-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .col--md-offset-3 {
    margin-left: 25%;
  }
  .col--md-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .col--md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col--md-offset-6 {
    margin-left: 50%;
  }
  .col--md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col--md-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .col--md-offset-9 {
    margin-left: 75%;
  }
  .col--md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col--md-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .col--md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .row--lg-top {
    align-items: flex-start;
  }
  .row--lg-center {
    align-items: center;
  }
  .row--lg-bottom {
    align-items: flex-end;
  }
  .col--lg-align-top {
    align-self: flex-start;
  }
  .col--lg-align-center {
    align-self: center;
  }
  .col--lg-align-bottom {
    align-self: flex-end;
  }
  .col--lg-first {
    order: -1;
  }
  .col--lg-reset {
    order: 0;
  }
  .col--lg-last {
    order: 1;
  }
  .row--lg-reverse {
    flex-direction: row-reverse;
  }
  .col--lg-flex {
    display: flex;
  }
  .text--lg-right {
    text-align: right;
  }
  .text--lg-left {
    text-align: left;
  }
  .text--lg-center {
    text-align: center;
  }
  .col--lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
  }
  .col--lg-1 {
    width: 8.333333333333334%;
  }
  .col--lg-2 {
    width: 16.666666666666668%;
  }
  .col--lg-3 {
    width: 25%;
  }
  .col--lg-4 {
    width: 33.333333333333336%;
  }
  .col--lg-5 {
    width: 41.66666666666667%;
  }
  .col--lg-6 {
    width: 50%;
  }
  .col--lg-7 {
    width: 58.333333333333336%;
  }
  .col--lg-8 {
    width: 66.66666666666667%;
  }
  .col--lg-9 {
    width: 75%;
  }
  .col--lg-10 {
    width: 83.33333333333334%;
  }
  .col--lg-11 {
    width: 91.66666666666667%;
  }
  .col--lg-12 {
    width: 100%;
  }
  .col--lg-offset-0 {
    margin-left: 0;
  }
  .col--lg-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .col--lg-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .col--lg-offset-3 {
    margin-left: 25%;
  }
  .col--lg-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .col--lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col--lg-offset-6 {
    margin-left: 50%;
  }
  .col--lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col--lg-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .col--lg-offset-9 {
    margin-left: 75%;
  }
  .col--lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col--lg-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .col--lg-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .row--xl-top {
    align-items: flex-start;
  }
  .row--xl-center {
    align-items: center;
  }
  .row--xl-bottom {
    align-items: flex-end;
  }
  .col--xl-align-top {
    align-self: flex-start;
  }
  .col--xl-align-center {
    align-self: center;
  }
  .col--xl-align-bottom {
    align-self: flex-end;
  }
  .col--xl-first {
    order: -1;
  }
  .col--xl-reset {
    order: 0;
  }
  .col--xl-last {
    order: 1;
  }
  .row--xl-reverse {
    flex-direction: row-reverse;
  }
  .col--xl-flex {
    display: flex;
  }
  .text--xl-right {
    text-align: right;
  }
  .text--xl-left {
    text-align: left;
  }
  .text--xl-center {
    text-align: center;
  }
  .col--xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
  }
  .col--xl-1 {
    width: 8.333333333333334%;
  }
  .col--xl-2 {
    width: 16.666666666666668%;
  }
  .col--xl-3 {
    width: 25%;
  }
  .col--xl-4 {
    width: 33.333333333333336%;
  }
  .col--xl-5 {
    width: 41.66666666666667%;
  }
  .col--xl-6 {
    width: 50%;
  }
  .col--xl-7 {
    width: 58.333333333333336%;
  }
  .col--xl-8 {
    width: 66.66666666666667%;
  }
  .col--xl-9 {
    width: 75%;
  }
  .col--xl-10 {
    width: 83.33333333333334%;
  }
  .col--xl-11 {
    width: 91.66666666666667%;
  }
  .col--xl-12 {
    width: 100%;
  }
  .col--xl-offset-0 {
    margin-left: 0;
  }
  .col--xl-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .col--xl-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .col--xl-offset-3 {
    margin-left: 25%;
  }
  .col--xl-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .col--xl-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col--xl-offset-6 {
    margin-left: 50%;
  }
  .col--xl-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col--xl-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .col--xl-offset-9 {
    margin-left: 75%;
  }
  .col--xl-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col--xl-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .col--xl-offset-12 {
    margin-left: 100%;
  }
}
body {
  font-family: PT Sans;
  color: #111;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
/* block footer*/
h2 {
  font-size: 100px;
}
/*block footer end */
