@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?u78ibn');
    src:    url('/fonts/icomoon.eot?u78ibn#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?u78ibn') format('truetype'),
        url('/fonts/icomoon.woff?u78ibn') format('woff'),
        url('/fonts/icomoon.svg?u78ibn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-radio:before {
    content: "\e03e";
}
.icon-recent_actors:before {
    content: "\e03f";
}
.icon-repeat:before {
    content: "\e040";
}
.icon-laptop:before {
    content: "\e001";
}
.icon-briefcase:before {
    content: "\e015";
}
.icon-wallet:before {
    content: "\e016";
}

