//Include style
include ./block_html/style.jade
body.allpage
	//Include header
	include ./block_html/header.jade
	include ./block_html/elements/const.jade
	wraper
		h1 Список страниц
		- each page in pages
			a(href="#{page.href}") #{page.name} <br>
			


//Include footer
include ./block_html/script.jade

//Include script
include ./block_html/script.jade

