include block_html/_style.pug
include block_html/_include.pug

.header-white
	+header()

.intro-section
	.main-cont
		+bread()
		.intro-section__title Автоматизация ресторанных сетей iikoChain


.main-cont
	.get-order-sub-head
		.get-order-sub-head__text Чем сильнее разрастается ваша ресторанная сеть, тем сложнее становится контролировать каждый процесс. iikoChain - решение, систематизирующее актуальную информацию из каждого ресторана сети. Незаменимо для успешного ведения бизнеса
		.btn-row--center
			a(href="#").intro-section-get Оставить заявку

	.service-info__wrap
		.service-info
			.service-info__content
				.service-info__title Центральный офис. Централизованное управление. Единая политика и стандарты
				.service-info__text
					p С iiko контроль деятельности компании и анализ ее результатов доступны в реальном времени в виде единой отчетности. Владелец сети сможет управлять отдельными точками и ресторанными концепциями, поддерживать единые стандарты, реализовывать глобальные маркетинговые программы и многое другое. И да, iiko позволяет делать это централизованно
			.service-info__img
				img(src="img/auto-restaurant.png", alt="")
		.service-info__list.service-info__list--four
			.service-info__list-el Легко управляйте сетью ресторанов со структурой любой сложности
			.service-info__list-el iiko создает план-факт анализ основных показателей бизнеса, с которым поиск верных решений станет намного легче
			.service-info__list-el Учет различий в составе одинаковых блюд разных ресторанов сети осуществляется с помощью уникального механизма учёта техкарт
			.service-info__list-el Снизьте затраты на персонал и повысьте уровень дисциплины, благодаря надежным автоматическим инструментам и гибкому мотивационному блоку

	.service-info__wrap
		.service-info
			.service-info__img
				img(src="img/auto-restaurant-2.png", alt="")
			.service-info__content
				.service-info__title Фабрика-кухня. Единый центр учета и распределения
				.service-info__text
					p iikoChain не только объединяет заказы всех точек сети на продукцию в один, формируя на его основе задания по цехам и сменам, но и рассчитывает потребность в продуктах. Как только все заказы готовы, iikoChain осуществит подготовку к отгрузке заказа, создаст документы, необходимые для учета, а также распечатает маршрутный лист для экспедитора
		.service-info__list.service-info__list--four
			.service-info__list-el Объединяйте заказы продукции для ресторанов и формируйте общий заказ на производство
			.service-info__list-el Задания на производство отдельно по цехам формируются автоматически
			.service-info__list-el Печатайте этикетки для позиций, предназначенных для продажи в упаковке
			.service-info__list-el Единый свод закупок и управление запасами позволяют существенно снизить фудкост

	.service-info__wrap
		.service-info
			.service-info__content
				.service-info__title Рестораны сети. Безупречная репутация и качество обслуживания
				.service-info__text
					p Благодаря iikoChain гости будут уверены в высоком качестве обслуживания во всех ресторанах вашей сети. Визит в любую из точек сети оставит впечатление о профессионализме, стабильности и несомненной организованности производства. С iikoChain выбор всегда будет в вашу пользу!
			.service-info__img
				img(src="img/auto-restaurant-2.png", alt="")
		.service-info__list.service-info__list--four
			.service-info__list-el Для любой корректировки меню достаточно настроить приказ о его изменении: будь то ввод нового блюда, изменение цен или запуск маркетинговой акции. В назначенный срок правки будут внесены во всех ресторанах сети
			.service-info__list-el Создавайте гибкие мотивационные схемы для персонала: каждый сотрудник сети будет видеть свой индивидуальный план при открытии личной смены
			.service-info__list-el Создавайте гибкие мотивационные схемы для персонала: каждый сотрудник сети будет видеть свой индивидуальный план при открытии личной смены
			.service-info__list-el Информация о работе ресторанов доступна в реальном времени и из любого места: вы можете проверить любой чек или накладную или просмотреть видеозапись авторизации любого из официантов в системе

.footer-cost
	.footer-cost__val Стоимость iikoChain Server: 49990 руб.
	.footer-cost__sub (сервер iikoChain, лицензия для одного центрального сервера сети, не включает АРМ)
	.footer-cost__get Оставить заявку
+footer-cat()
+footer()

include ./block_html/_script.pug
