include block_html/_style.pug
include block_html/_include.pug

.header-white
	+header()

.intro-section
	.main-cont
		+bread()
		.intro-section__title Автоматизация доставки готовых блюд iikoDelivery
		.btn-row--center
			.intro-section-get Оставить заявку

.main-cont
	.service-info__wrap
		.service-info
			.service-info__content
				.service-info__title Колл-центр: приём и обработка заказов
				.service-info__text
					p Принимайте заказы по телефону, через сайт ресторана и популярные порталы доставки с помощью iiko! Система автоматизирует доставку с момента обращения клиента и до вручения заказа.
			.service-info__img
				img(src="img/deliver-1.png", alt="")
		.service-info__list
			.service-info__list-el Постоянных клиентов iiko распознаёт по номеру телефона. И сохраняет историю заказов: клиенты будут приятно удивлены, что вы помните об их предпочтениях
			.service-info__list-el Аналогичная ситуация с нежелательными заказчиками. Их система вносит в “чёрный список” и указывает, каких проблем от них стоит ожидать
			.service-info__list-el Распределяя заказы, сервис учитывает расписание работы заведения, состав заказов, насколько загружены курьеры и кухня. И о ситуации на дорогах не забывает!
			.service-info__list-el У оператора есть вся актуальная информация о статусе исполнения каждого заказа. При необходимости он может оперативно связаться и с клиентом, и с курьером

			.service-info__list-el У iiko есть интеграция с КЛАДР (классификатор адресов Российской Федерации), поэтому операторы никогда не ошибаются с адресом доставки
			.service-info__list-el Количество заказов, среднее опоздание курьеров, эффективность рекламы и средний чек можно посмотреть на карте

	.service-info__wrap
		.service-info
			.service-info__img
				img(src="img/deliver-2.png", alt="")
			.service-info__content
				.service-info__title Кухня: исполнение заказов
				.service-info__text
					p Теперь на контроль приготовления блюд будет уходить меньше времени. Об этом позаботится iiko! Система следит за соблюдением качества и за сроками исполнения

		.service-info__list
			.service-info__list-el Стоит заказу поступить на кухонный терминал, система автоматически начнет считать время приготовления блюд
			.service-info__list-el В заказ автоматически добавляются коробки, салфетки, вилки и другие аналогичные товары. В момент пробития чека они сразу же списываются со склада
			.service-info__list-el Забота - в деталях. На упаковку можно добавить этикетку с именем клиента и информацией о заказе. Клиент запомнит такое проявление внимания и решит обратиться к вам снова

	.service-info__wrap
		.service-info
			.service-info__content
				.service-info__title Курьер: доставка заказов
				.service-info__text
					p Каждый курьер устанавливает специальное мобильное приложение iiko. С его помощью работник получает актуальную информацию о заказах и может в любой момент связаться с оператором из колл-центра
			.service-info__img
				img(src="img/deliver-3.png", alt="")

		.service-info__list
			.service-info__list-el На экране телефона есть вся информация о товаре. Курьер может обратиться к ней в любой момент
			.service-info__list-el В приложении показан самый оптимальный вариант маршрута для доставки. С учетом текущей ситуации на дорогах
			.service-info__list-el Перемещения курьеров отмечаются на интерактивной карте. Проследить за действиями работника можно в любой момент
			.service-info__list-el iiko хранит все пожелания клиентов и напомнит о них курьеру
			.service-info__list-el В системе отмечаются не только все этапы доставки, но и отзывы клиентов. Это позволяет настроить схемы мотивации для курьеров
	.service-info__wrap
		.service-info
			.service-info__img
				img(src="img/deliver-4.png", alt="")
			.service-info__content
				.service-info__title Клиент: качественное обслуживание
				.service-info__text
					p Клиенты, получившие приятное впечатление от первого заказа, возвращаются. iiko заботится о том, чтобы клиент всегда был доволен. Мы автоматизировали службы доставки с помощью iiko, чтобы улучшить сервис вашего ресторана

		.service-info__list
			.service-info__list-el Обеспечьте клиенту максимальный комфорт во время первого заказа, и он обязательно обратится к вам снова. С iiko это сделать очень просто! Автоматизация службы доставки с помощью iiko поможет вам увеличить количество довольных клиентов
			.service-info__list-el С iiko можно легко управлять чеками. Если вам поступил заказ на большую компанию, вы можете предложить клиенту разделить стоимость на всех
			.service-info__list-el Клиент получает SMS после совершения заказа. Он может контролировать ход выполнения доставки самостоятельно
			.service-info__list-el Если на сайт поступает заказ от постоянного клиента, система сразу же отправляет его на кухню без перезвона. Гости оценят ваше доверие
			.service-info__list-el Система фиксирует отзывы клиентов о вашей работе. Вы всегда сможете проверить, как тот или иной гость оценил сервис
.footer-cost
	.footer-cost__val Стоимость: 9990 руб
	.footer-cost__get Оставить заявку
+footer-cat()
+footer()

include ./block_html/_script.pug
