include block_html/_style.pug
include block_html/_include.pug

.header-white
	+header()

.intro-section
	.main-cont
		+bread()
		.intro-section__title Контроль перемещения курьеров iikoRadar
		.btn-row--center
			.intro-section-get Оставить заявку

.main-cont
	.service-info
		.service-info__content
			.service-info__title Контролируйте прямо с экрана монитора
			.service-info__text
				p Работа вашей службы доставки налажена, но можно ли проконтролировать все действия курьеров? Как убедиться в том, что работники используют рабочее время только для исполнения служебных обязанностей? С системой iiko об этом можно не беспокоиться, она отображает не только текущее местоположение, но и все перемещения курьеров в режиме онлайн. На интерактивной карте виден маршрут каждого курьера. При необходимости с работником можно связаться и посмотреть его заказы.

		.service-info__img
			img(src="img/courier.png", alt="")

.main-cont
	.service-adv
		.service-adv__icon
			img(src="img/worker.svg", alt="")
		.service-adv__text
			p Помимо этого iikoRadar позволяет оценить загруженность курьеров, вероятность их опоздания и прогноз времени возвращения. У каждого курьера есть свой цвет. Этим цветом отображаются назначенные на курьера заказы и пройденный им маршрут. Как только курьер отправляется в путь, маршрут движения начинает отображаться на карте.
			p Демонстрационный режим показывает в действии работу экрана месторасположения курьеров. На нём отображаются их маршруты. Каждый начинается с первого незакрытого заказа и постепенно продвигается к следующим в порядке назначения заказов на работника

.footer-cost
	.footer-cost__val Стоимость: 9990 руб
	.footer-cost__get Оставить заявку
+footer-cat()
+footer()

include ./block_html/_script.pug
