- var elementPage = false;

include block_html/_style.pug
include block_html/_include.pug
include block_html/_svg.pug

.main-cont.main-cont--all
	.elements-hr

	.all-page-color
		.all-page-color__el
			.all-page-color__block(style="background-color:#000000")
			.all-page-color__el-name #000000
		.all-page-color__el
			.all-page-color__block(style="background-color:#0095c6")
			.all-page-color__el-name #0095c6
		.all-page-color__el
			.all-page-color__block(style="background-color:#f20022")
			.all-page-color__el-name #f20022
		.all-page-color__el
			.all-page-color__block(style="background-color:#efefef")
			.all-page-color__el-name #efefef
	.elements-hr

	h1 Заголовок h1 class = "type--xl"
	p.type--xl Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur soluta doloremque, necessitatibus repellendus iure error at excepturi voluptatem incidunt quos quam, dolorem dolore explicabo nihil nisi odio dolor optio? Exercitationem hic amet, similique enim qui voluptatibus est earum provident eum.

	h2 Заголовок h2 class = "type--lg"
		p.type--lg Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur soluta doloremque, necessitatibus repellendus iure error at excepturi voluptatem incidunt quos quam, dolorem dolore explicabo nihil nisi odio dolor optio? Exercitationem hic amet, similique enim qui voluptatibus est earum provident eum.

	h3 Заголовок h3 class = "type--md"
		p.type--md  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur soluta doloremque, necessitatibus repellendus iure error at excepturi voluptatem incidunt quos quam, dolorem dolore explicabo nihil nisi odio dolor optio? Exercitationem hic amet, similique enim qui voluptatibus est earum provident eum.

	h4 Заголовок h4 class = "type--main"
		p.type--main  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur soluta doloremque, necessitatibus repellendus iure error at excepturi voluptatem incidunt quos quam, dolorem dolore explicabo nihil nisi odio dolor optio? Exercitationem hic amet, similique enim qui voluptatibus est earum provident eum.

	h5 Заголовок h5 class = "type--sm"
		p.type--sm  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur soluta doloremque, necessitatibus repellendus iure error at excepturi voluptatem incidunt quos quam, dolorem dolore explicabo nihil nisi odio dolor optio? Exercitationem hic amet, similique enim qui voluptatibus est earum provident eum.

	h6 Заголовок h6 class = "type--xs"
		p.type--xs  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur soluta doloremque, necessitatibus repellendus iure error at excepturi voluptatem incidunt quos quam, dolorem dolore explicabo nihil nisi odio dolor optio? Exercitationem hic amet, similique enim qui voluptatibus est earum provident eum.

	.elements-hr

	a(href="#").btn--md.btn--mark Стандартная
	a(href="#").btn--md.btn--disable Неактивная
	a(href="#").btn--md.btn--light Дополнительная
	a(href="#").btn--md.btn--light
		.btn--icon
			span C  иконкой
			+icon("arrow-right","nav-icon")
	a(href="#").btn--md.btn--mark
		.btn--icon
			span C  иконкой
			+icon("arrow-right","nav-icon")
	.elements-hr

	a(href="#").btn--sm.btn--mark Кнопка small
	a(href="#").btn--sm.btn--disable Неактивная small
	a(href="#").btn--sm.btn--light Второстепенная small
	a(href="#").btn--sm.btn--light
		.btn--icon
			span C иконкой small
			+icon("checked","nav-icon")
	.elements-hr

	.elements-buttons-block
		button.btn--sm.btn--mark Кнопка типа button
		button.btn--sm.btn--light Кнопка типа button
		button.btn--sm.btn--disable Кнопка типа button
		input(type="submit" value="Кнопка типа submit").btn--sm.btn--mark
		input(type="submit" value="Кнопка типа submit").btn--sm.btn--light
		input(type="submit" value="Кнопка типа submit").btn--sm.btn--disable

	.elements-hr
	.elements-link-block
		a(href="#").link--mark Цветная ссылка
		a(href="#").link--main Новая ссылка
		a(href="#").link--text Ссылка в тексте

	.elements-hr
	.elements-input-block
		input(type="text" placeholder="Username" ).input
		input(type="text" placeholder="Passwords").input
		textarea(name="", cols="30", rows="10" placeholder="Text").textarea
	.elements-hr

	.elements-checkbox-block
		+checkbox('Наименование услуги','disable')
		br
		+checkbox('Наименование услуги')
		br
		+radio('Наименование услуги')
		br
		+radio('Наименование услуги','disable')
		br

	.element-select
		select.select-beauty.select
			option(value="1" data-display="Выберите налог") Нет
			option(value="2") Новый налог 1
			option(value="3") Новый налог 2
			option(value="4") Новый налог 3

	.elements-hr
	.element-list-svg
		each item in svgArray
			.element-list-svg__icon
				svg(class="icon-el")
					use(xlink:href="#" + item.slice(0, item.length - 4))
				.element-list-svg__name #{item.slice(0, item.length - 4)}

include ./block_html/_script.pug
