<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
body
	wraper
		header
		.main-news
			- for (var x = 0; x < 4; x++)
				.main-news-items
					.main-news-items-img
					.main-news-items-title Новая статья
					.main-news-items-text   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis veritatis, in, quasi a laudantium ea nobis blanditiis soluta quidem nesciunt delectus, vel cum amet! Dolore ex molestias assumenda explicabo repellendus laboriosam animi, maxime dolorem blanditiis, tempora ut maiores sequi. Neque iure sint quibusdam, vel veniam expedita optio, quaerat omnis assumenda.    				
	//Include Footer
	include ./block_html/script.jade