<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
body
	wraper
		header
		.main-news
			- for (var x = 0; x <2; x++)
				.main-news-items
					.main-news-items-title Новая статья!!!
					.main-news-items-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores totam reiciendis magnam veritatis maiores, ipsa molestiae quidem, iure accusamus dicta, reprehenderit? Voluptatibus, corporis sunt velit ullam. Sequi magni, repellendus voluptatem!
	//Include Footer
	include ./block_html/script.jade