//Include style
include block_html/_style.jade
body
	//Include header
	include block_html/_const.jade
	include ../module/**/*.jade

	.main-cont


	//Include scripts
	include ./block_html/_script.jade



