include block_html/_style.jade
include ../module/**/*.jade

.main-cont
	h1.type--center Hi this is first page of template TNORMAL
	p.type--xl.type--up.type--center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cum beatae natus temporibus, labore quod facere quaerat vero deleniti laboriosam aspernatur accusamus deserunt eius sit quasi id illo repellendus perspiciatis voluptas quibusdam earum officiis eum? Quaerat laboriosam voluptas et fugiat.
	.row.flex-mid
		+icon("heart",".icon")
		+icon("heart",".icon")
		+icon("heart",".icon")
include ./block_html/_script.jade
