<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
body
	wraper
		header
		slider
		.main-news
			- for (var x = 0; x < 4; x++)
				.main-news-items
					.main-news-items-img
					.main-news-items-title Новая статья
					.main-news-items-text   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis veritatis, in, quasi a laudantium ea nobis blanditiis soluta quidem nesciunt delectus, vel cum amet! Dolore ex molestias assumenda explicabo repellendus laboriosam animi, maxime dolorem blanditiis, tempora ut maiores sequi. Neque iure sint quibusdam, vel veniam expedita optio, quaerat omnis assumenda.    				
		.short-news
			.short-news-left
				- for (var y = 0; y < 4; y++)
					.short-news-left-items
						.short-news-left-items-title Главная новость
						.short-news-left-items-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias blanditiis esse non nesciunt dicta corporis voluptates neque, veniam cum voluptate excepturi dolorem incidunt nam nihil rerum rem saepe voluptatum a.
			.short-news-right
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt facilis, dolore similique maiores? Doloribus, asperiores. Iusto debitis tempora velit repellat sed autem, quaerat commodi, necessitatibus soluta quos libero voluptatibus eum. Beatae quasi iure quam eos consequuntur nobis quo laudantium, placeat neque aliquam doloribus, quod nemo. Illum vel, quia laboriosam temporibus non repellat ipsa esse, totam quisquam sunt explicabo eaque? Voluptates, excepturi sit. Iste tempore deleniti, quia, perspiciatis architecto nihil, commodi vero corporis dolores soluta ad nesciunt amet similique, quos laboriosam aliquid voluptatum ut! Nihil delectus nisi tempora, eaque nostrum! Eveniet a minima, accusamus omnis libero ducimus perspiciatis! Nobis aperiam, mollitia.
	//Include Footer
	include ./block_html/script.jade