include block_html/_style.pug
include block_html/_include.pug

.header-white
	+header()

.intro-section
	.main-cont
		+bread()
		.intro-section__title Распределение заказов между курьерами iikoDelivery Logistics
		.btn-row--center
			.intro-section-get Оставить заявку

.main-cont
	.service-info
		.service-info__content
			.service-info__title Автоматизуйте
			.service-info__text Модуль iikoDelivery Logistics предназначен для управления курьерами. Он позволяет распределять задачи между ними и строит маршруты с учётом времени приготовления заказов и сроков их доставки.
		.service-info__img
			img(src="img/logistik.png", alt="")

.cour-descr
	.main-cont
		.cour-descr__wrap
			.cour-descr__card
				.cour-descr__card-icon
					img(src="img/location.svg", alt="")
				.cour-descr__card-text На каждый маршрут курьер назначается автоматически, что позволяет избежать неравенства. Курьера можно изменить вручную, но сам он этого сделать не может. Система учитывает открытие и закрытие смены курьеров, поэтому ей известно, на сколько человек нужно распределять заказы
			.cour-descr__text
				p Самый опытный логист не сможет просчитать в голове возможные варианты даже при небольшом количестве заказов. Высока вероятность возникновения ошибок. С iikoDelivery Logistics вы можете быть уверены в эффективности и стабильном уровне работы курьеров. При автоматизации процессов, сократится количество опозданий и сроки доставки. Работая над планированием, система может привести вас к тому, что на выполнение тех же процессов понадобится меньше времени и курьеров.
				p Когда новый заказ обработан, он сразу добавляется в список на доставку, и система выдает маршруты с учетом, как новой точки, так и всех имеющихся курьеров. Когда курьер отправляется в дорогу, для него создаётся и распечатывается маршрутный лист, и его доставки больше не учитываются при перестроение маршрутов.

.main-cont
	.cour-param-wrap
		.cour-param
			.cour-param__el
				.cour-param__name Какие параметры учитываются в алгоритме?
			.cour-param__el
				.cour-param__title Время на доставку
				.cour-param__text Модуль прогнозирует время на доставку и делает всё, чтобы уменьшить его
			.cour-param__el
				.cour-param__title Время на приготовление
				.cour-param__text Модуль учитывает время на приготовление заказа и определяет, стоит ли курьеру дожидаться следующий заказ
			.cour-param__el
				.cour-param__title Время ожидания курьера на базе
				.cour-param__text Отслеживая этот параметр, модуль помогает распределить нагрузку по курьерам равномерно
			.cour-param__el
				.cour-param__title Среднее время нахождения у клиента
				.cour-param__text Параметр задается для более точного прогноза и включает в себя время на парковку, подъем на этаж, оплату и возвращение к машине
			.cour-param__el
				.cour-param__title Максимальное время между готовностью заказов в маршруте
				.cour-param__text Параметр позволяет отбрасывать варианты, в которых один заказ готов и остывает в ресторане, пока курьер ждет готовности следующего заказа
			.cour-param__el
				.cour-param__title Максимальное время всего маршрута
				.cour-param__text Параметр ограничивает длину маршрута по времени, чтобы настроить алгоритм на собственные бизнес-процессы ресторана
			.cour-param__el
				.cour-param__title Максимальное количество заказов в маршруте
				.cour-param__text Параметр ограничивает количество адресов в маршруте, если в ресторане приняты такие ограничения
			.cour-param__el
				.cour-param__title Стратегия в пиковые нагрузки
				.cour-param__text Когда заказов больше, чем могут обслужить курьеры без опозданий.
.footer-cost
	.footer-cost__val Стоимость: 9990 руб
	.footer-cost__get Оставить заявку
+footer-cat()
+footer()

include ./block_html/_script.pug
