include block_html/_style.pug
include block_html/_include.pug

.header-white
	+header()

.intro-section
	.main-cont
		+bread()
		.intro-section__title Актуальная аналитика онлайн iikoDashboard

.main-cont
	.service-info.service-info--weight-extend.service-info--border.service-info--midle
		.service-info__content
			.service-info__title Оперативно получайте и анализируйте информацию
			.service-info__text С мобильным приложением iikoDashboard оперативно получайте информацию о работе заведения по множеству показателей и анализируйте их с помощью удобного графического интерфейса. Приложение доступно для мобильных устройств Apple
		.service-info__img
			img(src="img/online-analitik.png", alt="")

	.service-info__wrap.service-info__wrap--light
		.service-info
			.service-info__title Возможности iikoDashboard:
		.service-info__list
			.service-info__list-el Настраивайте панель ключевых показателей, выводимую на экран устройства, в самом приложении
			.service-info__list-el Получайте детальную информацию о работе заведения в виде удобных табличных отчетов с 3D графиками
			.service-info__list-el Фильтруйте данные по встроенным фильтрам: точки продаж, типы оплаты, категории, группы залов и пр
			.service-info__list-el Используйте решение iikoDashboard OLAP Extension - мощный инструмент для творческих рестораторов. OLAP отчеты - гибкий инструмент анализа данных по продажам, проводкам, доставкам с использованием механизмов сортировки и фильтров
			.service-info__list-el Не ограничивайте себя! iikoDashboard работает на iPhone, iPad, iPod touch без ограничений по количеству подключенных устройств
			.service-info__list-el С легкостью делитесь настройками iikoDashboard с коллегами или передавайте их на свое второе устройство

.footer-cost
	.footer-cost__val Стоимость: 9990 руб
	.footer-cost__get Оставить заявку

.footer-cat
	.main-cont
		.footer-cat-list
			-
				var items = [
				{name:'Видеонаблюдение', val:'iVideon'},
				{name:'Видеонаблюдение ', val:'Trassir '},
				{name:'Контроль над текущим заявками ', val:'iikoMonitoring'},
				{name:'Актуальная аналитика онлайн', val:'iikoDashboard'},
				{name:'Работа с документами', val:'SmartCloud'},
				{name:'Автоматизация стандартов, чек-листы ', val:'Service Inspector'},
				{name:'Инструмент аналитики ресторанного бизнеса ', val:'МОЗГ'}
				];
			each item in items
				a(href="#").footer-cat-list__el
					.footer-cat-list__el-text #{item.name}
					.footer-cat-list__el-link #{item.val}
+footer()

include ./block_html/_script.pug