include block_html/_style.pug
include block_html/_include.pug

.header-white
	+header()

.intro-section
	.main-cont
		+bread()
		.intro-section__title Решения для бухгалтера

.main-cont
	.get-order-sub-head.get-order-sub-head--unborder
		.get-order-sub-head__text Open Service предлагает бухгалтерам решения, упрощающие сбор и анализ данных и создание отчетов. Автоматизируйте трудоемкие процессы и экономьте время с Open Service!

.footer-cat.footer-cat--light
	.main-cont
		.footer-cat-list.footer-cat-list--mid
			-
				var items = [
					{name:'Выгрузка из iiko в 1С бухгалтерия', val:'1С бухгалтерия'},
					{name:'Электронный документопровод для ресторанов и поставщиков', val:'DocsInBox '},
					{name:'IT-решение по ФГИС “Меркурий” для HoReCa', val:'DocsInBox.ВЕГАИС  '}
				];
			each item in items
				a(href="#").footer-cat-list__el
					.footer-cat-list__el-text #{item.name}
					.footer-cat-list__el-link #{item.val}
.footer-item
	+footer()

include ./block_html/_script.pug
