// ============================ Curent color ============================
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

$blue = #2f81e6
$blue--dark = #1067d3
$purple = #6c76e3
$purple-gradient = linear-gradient(-45deg, #607aeb 0%, #f13e75 100%)
$white = #f1f6fb
$gray = #ccd5eb
$red = #ef393f

$main-text-color = #262a34
$link-color = black

$link-color-visited = gray
$link-color-hover = black
$border-color = #d0d5e0

//  ============================ Typography ============================

//webfont('RUB', 'rouble-webfont', 'normal')
//Add fotn rub write .rub a - (a,b,c,d - change type font)

webfont('MuseoSansCyrl-300', 'MuseoSansCyrl', 'normal')
webfont('MuseoSansCyrl-700', 'MuseoSansCyrl', 'bold')

$v-font =  'Open Sans', sans-serif

$weigh-light = 300
$weigh-normal = 400
$weigh-bold = 700

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(14,12)

.type--main
	typeSize(15,13)
	font-family 'Open Sans'


.type--md
	typeSize(18,15)
	font-family "Museo Sans Cyrl"
	font-weight bold

.type--xlg
	typeSize(22,18)
	font-family "Museo Sans Cyrl"
	font-weight bold

.type--lg
	typeSize(30,24)
	font-family "Museo Sans Cyrl"
	font-weight bold

.type--xl
	typeSize(40,28)
	font-family "Museo Sans Cyrl"

.type--xxl
	typeSize(55,32)
	font-family "Museo Sans Cyrl"

.type--bold
	font-weight bold

h1
	@extend .type--xxl
h2
	@extend .type--xl
h3
	@extend .type--lg
h4
	@extend .type--xlg
h5
	@extend .type--md

a
	color $blue
	tr(all)
	&:hover
		color $red
	&:visiter
		color $red

p
	@extend .type--main

.link--mark
	color $blue
	&:hover
		color darken($blue,20)
	&:visiter
		color darken($blue,30)

.link--main
	color $link-color
	hover-underline($blue)
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

.link--text
	color $blue
	text-decoration underline
	&:hover
		text-decoration none


// ============================ Buttons ============================

btnStyle(bg-btn,color-btn)
	background bg-btn
	color color-btn
	border 1px solid color-btn
	&:hover
		background darken(bg-btn,20)
		color color-btn

btnStyleLight(br-btn,color-btn)
	color color-btn
	border br-btn solid color-btn
	&:hover
		color darken(color-btn,20)
		border br-btn solid darken(color-btn,20)

.btn
	br(25px)
	tr(all)
	display inline-block
	background none
	border 0px
	text-align: center
	font-family "Museo Sans Cyrl"
	font-size 15px
	font-weight 400
	&:hover
		cursor pointer

.btn--sm
	@extend .btn
	font-size 10px
	padding 5px 10px
	.nav-icon
		size 10px

.btn--md
	@extend .btn
	font-size 15px
	padding 15px 35px

.btn--lg
	@extend .btn
	font-size 20px
	padding 10px 30px

.btn--mobile
	@extend .btn
	+below(768px)
		width 100%
		text-align center

.btn--mark
	@extend .btn
	color white
	background $blue
	.nav-icon
		fill white
	&:hover
		background-color darken($blue,20)
		color white
	&:active
		background-color darken($blue,20)
		color white
	input[type="submit"]
		border 0
	.nav-icon
		fill white



.btn--disable
	@extend .disabled
	border 1px solid $border-color
	background-color #ffffff
	color #000000

.btn--light
	@extend .btn
	border 1px solid #c6d0d9
	background-color #ffffff
	color black
	&:hover
		border 1px solid $blue
		color $blue
	.nav-icon
		fill blue

.btn--light-dark
	@extend .btn--light
	background: none
	color white
	border 1px solid rgba(255, 255, 255, 0.3)
	&:hover
		border 1px solid rgba(255, 255, 255, 1)

.btn--grey
	@extend .btn
	border 1px solid #dddddd
	background-color #ffffff

.btn--dotted
	@extend .btn
	border 1px dashed #d7d7d7
	background-color #ffffff
	text-align center

.btn--white
	@extend .btn
	border 1px solid rgba(255, 255, 255, 0.9)
	color rgba(255, 255, 255, 0.9)
	.nav-icon
		fill rgba(255, 255, 255, 0.9)

.btn--icon
	flex(mid)

.nav-icon
	display inline-block
	size 20px
	margin 0 10px

.btn--hover
	transform: perspective(100px) translateZ(0)
	box-shadow: 0 0 1px transparent
	position: relative
	overflow: hidden
	transition-property: color
	transition-duration: 0.1s
	&:before
		content: ""
		position: absolute
		z-index: -1
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: gray
		border-radius: 10%
		transform: scale(0)
		transition-property: transform
		transition-duration: 0.35s
		transition-timing-function: ease-out
	&:hover,&:focus,&:active
		color: white

.btn--hover:hover:before
	transform: scale(2)
.btn--hover:focus:before
	transform: scale(2)
.btn--hover:active:before
	transform: scale(2)


button
	font-family $v-font


// ============================ Inputs ============================

.input,.textarea,.select
	br(5px)
	padding 20px 25px
	border 1px solid $border-color
	background: none
	resize: none
	outline: 0 !important
	border-radius 4px
	font-family $v-font
	display block!important
	margin-bottom 10px
	placeholder(#888888)
	tr(all)
	&:focus
		border 1px solid $blue
		box-shadow 0 11px 8px rgba(47, 129, 230, 0.15)

.style-label
	display flex
	position relative
	align-items center

.style-label--disable
	@extend .disabled

.check-el
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 30px
		height 30px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid $border-color
		br(5px)
		cp()
		tr(all)
		&:hover
			border 1px solid $blue
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			.icon-check
				display block
				fill $blue
				size 16px

.style-label--radio
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 30px
		height 30px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid $border-color
		round()
		cp()
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			.icon-radio
				round()
				size 14px
				background $blue
