html 
	box-sizing border-box
*,
*:before,
*:after 
	box-sizing: inherit

a
	text-decoration none
	color $link-color
	
a:hover
	text-decoration none
	color  $link-color-hover

.type--bold
	font-weight $weigh-bold 
	
img,
video,
iframe 
	max-width 100%
	height auto
	border 0
	-ms-interpolation-mode bicubic
	display block

table
	table(true,true)

body > svg
	display none

//responsive table	
.small-only
	+below(768px)
		display table
	display none
	
.large-only
	+below(768px)
		display none

.bold
	font-weight $weigh-bold

//Kss edit
.kss-section
	max-width 100%!important
.linenums
	padding 20px 40px!important
.kss-title
	margin-bottom 40px!important
.kss-modifier__example
	padding 10px!important
	box-shadow 1px 1px 10px #d8d8d8

.rub{
	font-family 'RUB'
	font-style normal 
}

