a:hover
	text-decoration none
a
	text-decoration none
	color black
.bold
	font-weight 600
html 
	box-sizing border-box
*,
*:before,
*:after 
	box-sizing: inherit
img,
video,
iframe 
	max-width 100%
	height auto
	border 0
	-ms-interpolation-mode bicubic
	display block
