.article-img__right
	float right
	margin 0 0 10px 10px
.article-img__left
	float left
	margin 0 10px 10px 0px
.artilce-img
	max-width 50%
.clearfix__mobile
	+below(768px)
		display block
	display none 