.old-browser
	background grey
	width 100%
	height 100vh
	padding-top 200px
.old-browser-text 
	text-align center
	color white
	font-size 20px

// ===== Type =====
.type--xs
	+below(768px)
		font-size 8px
	font-size 10px
	
.type--sm
	+below(768px)
		font-size 10px
	font-size 12px

.type
	+below(768px)
		font-size 14px
	font-size 16px

.type--md
	+below(768px)
		font-size 18px
	font-size 24px

.type--lg
	+below(768px)
		font-size 20px
	font-size 32px
	
.type--up
	up()
	
.type--italy
	font-style italic
	
.type--mid
	text-align center
	
.type--bold
	font-weight 600 

.italy
	font-style italic
// ===== Type-end =====

//===== Buttons =====
.btn
	up()
	display inline-block
	margin-bottom 20px
	br(4px)
	tr(all)
	
.btn--sm
	font-size 10px
	padding 5px 10px
	
.btn--md
	font-size 12px
	padding 10px 20px
	
.btn--lg
	font-size 20px
	padding 10px 30px

.btn--red
	background red
	color white
	&:hover
		background darken(red,10)

//===== Buttons end =====

.section
	+below(768px)
		padding 30px 0
		.btn
			width 100%
			text-align center
	padding 90px 0px

.hidden
	display none  !important
	
.clearfix 
	zoom 1
.clearfix:before,
.clearfix:after 
	content ""
	display table
.clearfix:after 
	clear both

@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out
		
.icon
	display inline

