@font-face
	font-family: 'Museo Sans Cyrl'
	src: url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),url('../fonts/MuseoSansCyrl-700.woff') format('woff')
	font-weight: 700
	font-style: bold


@font-face
	font-family: 'Museo Sans Cyrl'
	src: url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),url('../fonts/MuseoSansCyrl-300.woff') format('woff')
	font-weight: 300
	font-style: normal


@font-face
	font-family: 'Open Sans'
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),url('../fonts/OpenSans-Regular.woff') format('woff')
	font-weight: 400
	font-style: normal