br-animate(a,b)
	position: relative
	display: inline-block
	&:after
		content: ""
		display: block
		width: 0px
		height: b
		background: a
		transition: width .3s
	&:hover:after
		width: 100%

item(a,b)
	if(a==1)
		width 100%
		margin-bottom: b
		margin-right 0
	else
		items = a
		margins = b
		width "calc(1/%s*100% - (1 - 1/%s)*%s)" % (items items margins)
		margin-right: b
		margin-bottom: b
		&:nth-child({a}n)
			margin-right: 0

item-clear(a,b)
	&:nth-child({a}n)
			margin-right: b

flex(a){
	if(a=='mid'){
		display: flex
		justify-content: center
		align-items: center
	}
	if(a==between){
		display: flex
		justify-content: space-between
		align-items: center
	}
	if(a==around){
		display: flex
		justify-content: space-around
		align-items: center
	}
}

bgi(a){
	background url('../img/'+a) no-repeat;
}

br(a){
	border-radius a
}

tr(a){
	transition a .4s
} 

f()
	display flex
fl()
	flex-flow column
fw()
	flex-wrap wrap
	
cp()
	&:hover
		cursor pointer
		
round()
	border-radius 50%
bsh()
	box-shadow 0px 3px 8px #e3e3e3
	
up()
	text-transform uppercase
	
bold()
	font-weight 700
	
placeholder(color)
	input::-webkit-input-placeholder 
		color:color
	input::-moz-placeholder
		color:color
	input:-moz-placeholder
		color:color
	input:-ms-input-placeholder
		color:color
		
//main cont
center(val,pad)
	*zoom: 1
	width: auto
	max-width: val
	float: none
	display: block
	margin-right: auto
	margin-left: auto
	padding-left: 0
	padding-right: 0
	&:before,
	&:after 
		content: ''
		display: table
	&:after 
		clear: both
	position relative
	width 100%
	padding  0 pad
	+above(val px)
		width val px
		
// Function
//
//
// Styleguide 5


//Triangle
//
// triangle($direction,$size,$color)
// 
//Template - triangle: 'right' 13px red
//$direction - Direction the triangle points: "up", "down", "left", or "right". Default is "up".
//$size - Size of the triangle in pixels. Default is 10px.
//$color - Color of the triangle. Default is black.
//
// Styleguide 5.1

triangle($direction = 'up', $size = 10px, $color = #000)
	width 0
	height 0
	if $direction == 'up'
		border-left $size solid transparent
		border-right $size solid transparent
		border-bottom $size solid $color
	else if $direction == 'down'
		border-left $size solid transparent
		border-right $size solid transparent
		border-top $size solid $color
	else if $direction == 'left'
		border-top $size solid transparent
		border-bottom $size solid transparent
		border-right $size solid $color
	else if $direction == 'right'
		border-top $size solid transparent
		border-bottom $size solid transparent
		border-left $size solid $color

//Gradient
//
//gradient($color1,$color2,$strength)
//
//Template - gradient: red blue 30%
//$color1 - first color
//$color2 - Second color
//$strength - power color
//
// Styleguide 5.2

gradient($color1, $color2 = null, $strength = 10%)
	// shift args if one color mode
	if (typeof($color2) is 'unit')
		$strength = $color2
		$color2 = null
	$start = $color2 ? $color1 : lighten($color1, $strength)
	$end = $color2 ? $color2 : darken($color1, $strength)
	background: $start
	background: $end linear-gradient(180deg, $start, $end) repeat-x

//hover-underline
//
//hover-underline($border-size,$type,$color)
//
//Template - hover-underline: 2px dotted red
//$border-size - How thick you want rh border to be. Default is 1px.
//$type - Type of border you want to use. Default is solid.
//$color - Color you want the border to be. Default is none
//
// Styleguide 5.3


hover-underline($border-size = 1px, $type = 'solid', $color = null)
	border-bottom: $border-size unquote($type) transparent
	&:hover
		border-bottom: $border-size unquote($type) $color

//Tables
//
//table($border,$striped,$condensed)
//
//Template - table(true,true,true)
//$border- Boolean - adds borders to the table. Default true.x.
//$striped - Boolean - adds zebra striping to the table rows. Default true.
//$condensed - Boolean - created a condensed table with much less extra space. Default false.
//
// Styleguide 5.4

table($border = true, $striped = true, $condensed = false)
	max-width: 100%
	border-collapse: collapse
	border-spacing: 0
	width: 100%
	margin-bottom: 18px

	th, td
		padding: 8px
		line-height: 18px
		text-align: left
		vertical-align: top
		border-top: 1px solid #ddd

	th
		font-weight: bold

	thead th
		vertical-align: bottom

	thead:first-child tr th
	thead:first-child tr td
		border-top: 0

	tbody + tbody
		border-top: 2px solid #ddd

	if $condensed
		th, td
			padding: 4px 5px

	if $border
		border: 1px solid #ddd
		border-collapse: separate
		*border-collapse: collapsed
		border-radius: 4px

		th + th, td + td, th + td, td + th
			border-left: 1px solid #ddd

		thead:first-child tr:first-child th
		tbody:first-child tr:first-child th
		tbody:first-child tr:first-child td
			border-top: 0

		thead:first-child tr:first-child th:first-child
		tbody:first-child tr:first-child td:first-child
			border-radius: 4px 0 0 0

		thead:first-child tr:first-child th:last-child
		tbody:first-child tr:first-child td:last-child
			border-radius: 0 4px 0 0

		thead:last-child tr:last-child th:first-child
		tbody:last-child tr:last-child td:first-child
			border-radius: 0 0 0 4px

		thead:last-child tr:last-child th:last-child
		tbody:last-child tr:last-child td:last-child
			border-radius: 0 0 4px 0

	if $striped
		tbody tr:nth-child(odd) td
		tbody tr:nth-child(odd) th
			background-color: #f9f9f9

		tbody tr:hover td
		tbody tr:hover th
			background-color: #f5f5f5

//breadcrumb
//
//breadcrumb($character,$spacing,$divider-color)
//
//Template - breadcrumb: '~' 25px red
//$character - The character that divides the list items. Default is '/'.
//$spacing - How much space between each item. Default is 10px.
//$divider-color - Color of the list item divider. Default is #CDCDCD
//
// Styleguide 5.5

breadcrumb($character = "/", $spacing = 10px, $divider-color = #CDCDCD)
	inline-list: $spacing
	li:not(:last-child):after
		content: $character
		margin-left: $spacing
		color: $divider-color

//Size
//
//size $width Sheigth
//
//Template - size 10 20
//$width - curent widtth
//$height - curent height
//
// Styleguide 5.6

size(numbers...)
	regex = '^[^%]*%[^%]*$'
	parsed = unit(numbers[0])
	type = match(regex, parsed) ? '%' : 'px'

	if length(numbers) > 1
		parsedH = unit(numbers[1])
		typeH = match(regex, parsedH) ? '%' : 'px'

		width: unit(numbers[0], type)
		height: unit(numbers[1], typeH)
	else
		width: unit(numbers, type)
		height: unit(numbers, type)

ul-reset()
	ul
		margin 0
		padding 0
		{block}

ol-reset()
	ol
		margin 0
		padding 0
		{block}

cf()
	&:before, &:after
		display table
		content ""
	&:after
		clear both
	.lt-ie8 &
		zoom 1

//Text elips
//
//ellipsis($width)
//
//Template - ellipsis(50px)
//$width - Width of the container. Default is 100%
//
// Styleguide 5.7

ellipsis($width = 100%)
	white-space: nowrap
	display: inline-block
	max-width: $width
	overflow: hidden
	text-overflow: ellipsis
	word-wrap: normal



//Icon-arrow
//
//icon-arrow($direction,$size,$color,$stroke)
//
//Template - icon-arrow(left, 20px, blue, 3px)
//$direction - Direction the arrow "up", "down", "left", or "right". Default is "right".
//$size - Size of the icon. Default is 40px.
//$color - Color of the icon. Default is #888
//$stroke - Icon line width. Default is 1px.
//
// Styleguide 5.8

icon-arrow($direction = 'right', $size = 40px, $color = #888, $stroke = 1px)
	height: $size
	width: $size
	&:after
		content: ''
		border-right: $stroke solid $color
		border-top: $stroke solid $color
		display: block
		height: unit($size * 0.625, 'px')
		width: unit($size * 0.625, 'px')
		margin-left: 1%
		if $direction == 'right'
			transform: rotate(45deg) translateX(unit($size * 0.1, 'px')) translateY(unit($size * 0.1, 'px'))
		else if $direction == 'left'
			transform: rotate(-135deg) translateX(unit($size * -0.3, 'px') ) translateY(unit($size * 0.1, 'px'))
		else if $direction == 'down'
			transform: rotate(135deg) translateX(unit($size * -0.1, 'px')) translateY(unit($size * -0.1, 'px'))
		else if $direction == 'up'
			transform: rotate(-45deg) translateX(unit($size * -0.1, 'px')) translateY(unit($size * 0.3, 'px'))


//Icon-close
//
//icon-x($size,$color,$stroke)
//
//Template - icon-x(20px, orange, 5px)
//$size - Size of the icon. Default is 40px.
//$color- Color of the icon. Default is #888.
//$stroke - Icon line width. Default is 1px.
//
// Styleguide 5.9

icon-x($size = 40px, $color = #888, $stroke = 1px)
	width: $size
	height: $size
	display: block
	position: relative
	&:before, &:after
		transition: all .3s ease
		content: ''
		position: absolute
		width: $size
		top: 50%
		height: $stroke
		background: $color
		transform: rotate(45deg)
	&:after
		transform: rotate(-45deg)

//link font
font-url(file)
	return '../fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
	@font-face
		font-family family
		src url(font-url(file + '.eot'))
		src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
			url(font-url(file + '.woff')) format('woff'), 
			url(font-url(file + '.ttf')) format('truetype'), 
			url(font-url(file + '.svg#'+ family)) format('svg')
		font-weight weight
		font-style normal

//bg-full-size
bg-full()
	background-size cover
	background-repeat no-repeat
	background-position center center
	
focus(color)
	&:focus
		border-color color
		box-shadow 0 0 3px 1px rgba(color, 0.45)