.old-browser
	position absolute
	top 0px
	lef 0px
	height 100%
	width 100%
	background grey
	overflow hidden
	z-index 9999
.old-browser-text
	text-align center
	color white
	text-transform uppercase
	margin-top 10%
	font-size 32px 
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	//type her
