darkbg = #191919;
blue = #0CACF2;
green = #A6D902;
grey = #9C9C9C;
red = #D2111D;

.type
	font-size 14px
	line-height 17px

.type-mid
	font-size 12px
	line-height 14px
	margin-bottom 10px
	
.type-small
	font-size 10px
	font-weight 400
	line-height 12px

