body{
  font-family: 'Open Sans';
}

a:hover{
  text-decoration none
}

.bold{
  font-weight 600
}

.fz14{
  font-size 14px!important
}
.fz10{
  font-size 10px!important
}
.fz30{
  font-size 30px!important
}
.fz36{
  font-size 36px!important
}
.fz20{
  font-size 20px!important
}

.boldfont{
  font-family boldfont
}

.flex{
  display flex
  justify-content center
  align-items center
}

.p60{
  padding 60px
}

.tal{
  text-align left!important
}

.dib{
  display inline-block
}

.w100per{
  width 100%
}