flex(a){
	if(a=='mid'){
		display: flex;
	  justify-content: center;
	  align-items: center;
	}
	if(a==between){
		display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	if(a==around){
		display: flex;
	  justify-content: space-around;
	  align-items: center;
	}
}

bgi(a){
	background url('../img/'+a) no-repeat;
}

tr(a){
	transition a .4s
} 

font(a){
	if(a==ubuntu){
		font-family: 'Ubuntu';
	}
	if(a==pt){
  	font-family: 'PT Sans';
	}
	if(a==zopa){
  	font-family: 'ZopaCyr';
	}
}

but-flat(a,b,c,d=10px,e=20px){
	border: 0;
  background: a;
  color: b;
  padding: d e;
  width: c;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 3px 0px darken(a, 45%); 
}
