flex(a){
	if(a=='mid'){
		display: flex;
	  justify-content: center;
	  align-items: center;
	}
	if(a==between){
		display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	if(a==around){
		display: flex;
	  justify-content: space-around;
	  align-items: center;
	}
}