-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Оборудование',
		'href':'oborudovanie'
		},
		{
		'name':'Сервисное обслуживание',
		'href':'support'
		},
		{
		'name':'Блог список',
		'href':'blog-list'
		},
		{
		'name':'Блог подробная',
		'href':'blog-item'
		},
		{
		'name':'Консалтинг',
		'href':'konsalting'
		},
		{
		'name':'Контакты',
		'href':'contact'
		},
		{
		'name':'База знаний',
		'href':'knowledge'
		},
		{
		'name':'База знаний подробнее',
		'href':'knowledge-item'
		}
	]

