-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Оборудование',
		'href':'oborudovanie'
		},
		{
		'name':'Сервисное обслуживание',
		'href':'support'
		},
		{
		'name':'Блог список',
		'href':'blog-list'
		},
		{
		'name':'Блог подробная',
		'href':'blog-item'
		},
		{
		'name':'Консалтинг',
		'href':'konsalting'
		},
		{
		'name':'Контакты',
		'href':'contact'
		},
		{
		'name':'База знаний',
		'href':'knowledge'
		},
		{
		'name':'База знаний подробнее',
		'href':'knowledge-item'
		},
		{
		'name':'Логистика',
		'href':'logistik'
		},
		{
		'name':'Приложение',
		'href':'app'
		},
		{
		'name':'АТС',
		'href':'atc'
		},
		{
		'name':'Распределение',
		'href':'distribution'
		},
		{
		'name':'CMC',
		'href':'SMS'
		},
		{
		'name':'Прием заказов',
		'href':'get-order'
		},
		{
		'name':'Контроль курьера',
		'href':'courier'
		},
		{
		'name':'Автоматизация доставки',
		'href':'auto-delivery'
		},
		{
		'name':'Автоматизация ресторанных сетей',
		'href':'auto-restaurant'
		},
		{
		'name':'Система оповещения официантов CallWaiter',
		'href':'steward-notifications'
		},
		{
		'name':'Автоматизация кухни iikoSousChef',
		'href':'auto-kitchen'
		},
		{
		'name':'Контроль сроков хранения',
		'href':'storage-time'
		},
		{
		'name':'Учет выпуска готовых блюд',
		'href':'food-accounting'
		},
		{
		'name':'Решения для повора',
		'href':'solutions-cooks'
		},
		{
		'name':'Резервирование столов',
		'href':'table-reservation'
		},
		{
		'name':'Учет банкетных заказов',
		'href':'banqueting-hall'
		},
		{
		'name':'Терминал официанта',
		'href':'waiter-terminal'
		},
		{
		'name':'Автоматизация стандартов',
		'href':'automation-standards'
		},
		{
		'name':'Терминал официанта PRO',
		'href':'waiter-terminal-pro'
		},
		{
		'name':'Решения для официанат, хостетс',
		'href':'waiter-solution'
		},
		{
		'name':'Электронные чаевые',
		'href':'tips'
		},
		{
		'name':'Приложение Фабрика лояльности',
		'href':'loyalty-factory'
		},
		{
		'name':'Дисплей покупателя',
		'href':'buyer-display'
		},
		{
		'name':'Электронное табло',
		'href':'electronic-display'
		},
		{
		'name':'Электронные карты',
		'href':'electronic-map'
		},
		{
		'name':'Система лояльности',
		'href':'loyalty-system'
		},
		{
		'name':'Автоматизация маркетинга',
		'href':'automation-marketing'
		},
		{
		'name':'Hot WiFi + роутер',
		'href':'hot-wifi'
		},
		{
		'name':'Wi-Fi радар',
		'href':'radar-wifi'
		},
		{
		'name':'Решения для гостя, маркетолога',
		'href':'solutions-guest'
		},
		{
			'name':'Банер',
			'href':'baner'
		},
		{
		'name':'Решения для управляющего',
		'href':'manager-solution'
		},
		{
		'name':'Видеонаблюдение iVideon',
		'href':'ivideon'
		},
		{
		'name':'Видеонаблюдение Trassir',
		'href':'trassir'
		},
		{
		'name':'Контроль над текущим заявками',
		'href':'order-control'
		},
		{
		'name':'Актуальная аналитика онлайн',
		'href':'online-analitik'
		},
		{
		'name':'Работа с документами SmartCloud',
		'href':'docs'
		},
		{
		'name':'Инструмент аналитики ресторанного бизнеса МОЗГ',
		'href':'analytics-tool'
		},
		{
		'name':'Автоматизация стандартов, чек-листы Service Inspector',
		'href':'analytics-standart'
		},
		{
		'name':'Цены, базовая автоматизация iiko',
		'href':'price'
		},
		{
		'name':'Решения для бухгалтера',
		'href':'solutions-accountant'
		},
		{
		'name':'Выгрузка из iiko в 1С бухгалтерия',
		'href':'upload'
		},
		{
		'name':'DocsInBox - электронный документопровод',
		'href':'docinbox'
		},
		{
		'name':'DocsInBox.ВЕГАИС - IT-решение  “Меркурий” для HoReCa',
		'href':'vegais'
		},
		{
			'name':'Мобильное приложение',
			'href':'mobile-app'
		},
		{
			'name': 'DocsInBox – документопровод между рестораном и поставщиком',
			'href': 'docbox'
		},
		{
			'name': 'Киоск самообслуживания Beopen Kiosk',
			'href': 'kiosk'
		},
		{
			'name': 'Сайт доставки для ресторана, интегрированный с iiko',
			'href': 'site'
		}
	]


