//build:js js/combined.js
script(src='bower/jquery/dist/jquery.js')
script(src='bower/svg4everybody/dist/svg4everybody.js')
//script(src='bower/owl.carousel/dist/owl.carousel.min.js')
//script(src="js/jquery.smoothscroll.js")
// endbuild
script(src="js/script.js")
script(src="js/script-edit.js")

</body>
</html>