<!DOCTYPE html>
!= "<html lang='en'>"
	head
		meta(charset="UTF-8")
		meta(name='viewport' content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		title Document
		//build:css css/vendor.css
		link(rel="stylesheet", href="bower/normalize.css/normalize.css")
		link(rel="icon",type="image/vnd.microsoft.icon", href="img/favicon.ico")
		//link(rel="stylesheet", href="bower/flexbox-grid-stylus/dist/flexbox-grid.min.css")
		//link(rel="stylesheet", href="bower/components-font-awesome/css/font-awesome.css")
		link(rel="stylesheet", href="bower/owl.carousel/dist/assets/owl.carousel.css")
		//endbuild
		link(rel="stylesheet", href="css/style.css") 
		link(rel="stylesheet", href="css/style-edit.css") 

	include _const.jade
	include _mixin.jade
	!= "<body>"
