<!DOCTYPE html>
!= "<html lang='en'>"
	//create by ANATOLY KUZNETSOV
	head
		meta(charset="UTF-8")
		meta(name='viewport' content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		
		//colors-tabs
		meta(name="theme-color" content="#000")
		meta(name="msapplication-navbutton-color" content="#000")
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")

		//icons
		link(rel="shortcut icon" href="img/fav/favicon.ico")

		
		//SEO
		title Document
		meta(name="description" itemprop="description" content="")
		
		//build:css css/vendor.css
		link(rel="stylesheet", href="bower/normalize.css/normalize.css")
		link(rel="stylesheet", href="bower/slick-carousel/slick/slick.css")
		link(rel="stylesheet", href="bower/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet", href="bower/jquery-nice-select/css/nice-select.css")
		//link(rel="stylesheet", href="bower/owl.carousel/dist/assets/owl.carousel.css")
		//endbuild

		link(rel="stylesheet", href="css/style.css") 
		link(rel="stylesheet", href="css/style-edit.css")

	include _const.pug
	include _mixin.pug
	!= "<body>"
