.main-section-filter
	position: absolute
	top: 0
	left: 0
	background: rgba(10, 10, 10, 0.4)
	width: 100%
	height: 100%

.header-logo
	up()
	font-size: 20px
	color white
	text-align: left
	
.header-phone
	up()
	font-size: 20px
	a
		color white

.main-section
	width: 100%
	height: 100vh
	background: rgba(0, 0, 0, 0.61)
	position: relative
	flex(mid)
	background-attachment fixed
	background-repeat: no-repeat
	bg-full()

.main-section-cont
	position: relative

.main-section-title
	up()
	color white
	font-size: 5vw

.header
	background-color rgba(0, 0, 0, 0.25)
	position: fixed
	top 0
	left: 0
	width: 100%
	z-index 50

.header-logo
	+below(1024px)
		width: 100px
	height: 40px
	width: 15%
	flex(mid)
	img
		width: 100%

.header-wrap
	flex(between)

.header-nav__el-link-wrap
	+below(1024px)
		border-bottom:1px solid rgba(236, 236, 236, 0.09)
	flex(between)

.menu-toggle
	+above(1024px)
		display: none
	.icon-el
		cp()
		size 20px
		fill white

.header-nav__el
	+below(1200px)
		font-size: 12px
	+below(1024px)
		width: 100%
		text-align: center
		background: grey
		font-size: 14px
	font-size: 14px
	position: relative
	.icon-el
		size 10px
		fill white
		margin-left: 5px
		tr(all)
	&:hover
		&>.header-nav__sub
			opacity 1
			visibility visible
		.header-nav__sub
			transform translateY(0px)
		.icon-el
			+above(1024px)
				transform rotate(-180deg)

.header-nav__el-link
	+below(1024px)
		width: 100%
		flex(between)
		padding: 20px 10px
	padding: 30px 0
	display: inline-block
	color white

.header-nav__el-icon
	+below(1024px)
		cp()
		flex(mid)
		background: darken(grey,20)
		size: 60px
		.icon-el
			size 15px

.header-nav
	+below(1024px)
		position: absolute
		top: 100%
		width: 100%
		left: 0
		fw()
		display: none
	+above(1024px)
		display: flex !important
	width: 60%
	justify-content:space-around

.header-nav__sub
	+below(1024px)
		transform translateY(0px)
		position: initial
		width: 100%
		top: initital
		left: initial
		margin-left: 0px
		border-radius 0px
		opacity 1!important
		visibility visible!important
		transition initial
		.window-coner-top
			display: none
	tr(all)
	transform translateY(20px)
	position: absolute
	width: 180px
	top: 100%
	left: 50%
	margin-left: -90px
	border-radius 4px
	border 1px solid #dddddd
	background-color #ffffff
	opacity 0
	visibility hidden

.header-nav__sub-wrap
	position: relative
	background: white

.header-nav__sub--hidden
	opacity 0
	visibility hidden
	height: 0

.header-nav__sub-el
	+below(1024px)
		padding: 10px 0
	tr(all)
	padding: 20px
	display: block
	border-bottom:1px solid #f7f6f6
	z-index 5
	position: relative
	&:hover
		background: #f0f0f0
	&:last-child
		border-bottom: 0
